<table class="table table-condensed table-bordered table-tiny">
	<tbody>
		<!-- 属性 -->
		<tr ng-repeat="unit in ability._requireList">
			<th>{{unit.title || unit.attr}} 【{{unit.desc}}】</th>
			<td>
				<input ng-show="getType(unit.attr) === 'string' && !Ability[unit.attr]" class="form-control" ng-model="ability[unit.attr]" />
				<div groupselect ng-show="getType(unit.attr) === 'object'" data-ability="ability" data-attr="{{unit.attr}}" data-base="Ability"></div>
				<div groupselect ng-show="getType(unit.attr) === 'string' && Ability[unit.attr]" data-ability="ability" data-attr="{{unit.attr}}" data-base="Ability" data-single="true"></div>
			</td>
		</tr>

		<!-- 事件 -->
		<tr>
			<th colspan="2" class="success">
				Events 【事件】
			</th>
		</tr>
		<tr>
			<td colspan="2">
				<!-- 事件 -->
				<div ng-repeat="(event_index,event) in ability._events" class="group-event">
					<label>Event {{event_index + 1}}</label>
					<select class="form-control" ng-model="event.name">
						<option ng-repeat="_event in Event.EventList" value="{{_event[0]}}">{{_event[0]}} 【{{_event[1]}}】</option>
					</select>

					<!-- 操作 -->
					<div eventoperation data-container="event" data-path="_operationList"></div>
				</div>
				<button class="btn btn-primary" ng-click="addEvent()">+ new event 【新建事件】</button>
			</td>
		</tr>

		<!-- 修饰器 -->
		<tr>
			<th colspan="2" class="success">
				Modifiers 【修饰器】
			</th>
		</tr>
		<tr>
			<td colspan="2">
				<!-- 修饰器 -->
				<div ng-repeat="(modifier_index,modifier) in ability._modifiers" class="group-modifier">
					<label>Modifier {{modifier_index + 1}}</label>
					<table class="table table-condensed table-bordered">
						<tbody>
							<!-- 属性 -->
							<tr ng-repeat="unit in modifier._requireList">
								<th>{{unit.title || unit.attr}} 【{{unit.desc}}】</th>
								<td>
									<input ng-show="getType(unit.attr, modifier) === 'string' && !Modifier[unit.attr]" class="form-control" ng-model="modifier[unit.attr]" />
									<div groupselect ng-show="getType(unit.attr, modifier) === 'object'" data-ability="modifier" data-attr="{{unit.attr}}" data-base="Modifier"></div>
									<div groupselect ng-show="getType(unit.attr, modifier) === 'string' && Modifier[unit.attr]" data-ability="modifier" data-attr="{{unit.attr}}" data-base="Modifier" data-single="true"></div>
									<input ng-show="getType(unit.attr, modifier) === 'boolean'"
										type="checkbox" ng-checked="modifier[unit.attr]"
										ng-click="modifier[unit.attr] = !modifier[unit.attr]" />
								</td>
							</tr>

							<!-- 属性 -->
							<tr>
								<th colspan="2" class="warning">
									Properties 【属性】
								</th>
							</tr>
							<!--tr>
								<th>
									Properties 【属性】
									<a href="javascript:void(0);" ng-click="modifier._showProperties = !modifier._showProperties">show/hide</a>
								</th>
								<td>
									<a ng-show="!modifier._showProperties" ng-click="modifier._showProperties = true">Show All</a>
									<table ng-show="modifier._showProperties" class="table table-condensed table-bordered">
										<tbody>
											<tr ng-repeat="item in Modifier.Properties">
												<th>
													{{item[0].replace("MODIFIER_PROPERTY_", "")}}
													【{{item[1]}}】
												</th>
												<td>
													<input type="text" class="form-control" ng-model="modifier._properties[item[0]]" />
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr-->
						</tbody>
					</table>
				</div>
				<button class="btn btn-primary" ng-click="addModifier()">+ new Modifier 【新建修饰器】</button>
			</td>
		</tr>
	</tbody>
</table>