<h1>Dota2 KV Editor (test)</h1>
<p>This is Test version. Only for tester usage. Please not share to others. Thanks!</p>
<p>【这是一个测试版本。仅供内部测试人员使用。请勿将其分享给外部用户。谢谢！】</p>

<p>Please don't use in FORMAL development.</p>
<p>【请不要用在正式的项目开发中】</p>

<p>Please backup your project before save cause editor will rewrite your file.</p>
<p>【编辑器保存时会覆盖你的文件，请在保存之前备份你的文件】</p>

<p>AMHC BBS Url: http://www.dota2rpg.com/thread-3206-1-1.html</p>

<ul>
	<li><a href="#/unit">Unit 【单位】</a></li>
	<li><a href="#/hero">Hero 【英雄】</a></li>
	<li><a href="#/ability">Abilities 【技能】</a></li>
	<li><a href="#/item">Items 【物品】</a></li>
	<li><a href="#/language">Languages 【多语言】</a></li>
</ul>

