<div class="row">
	<div class="col-md-4">
		<img class="img-responsive" src="public/img/logo.jpg" />
	</div>
	<div class="col-md-8">
		<h1>{{::Locale('title')}}</h1>

		<p>{{::Locale('description')}}</p>
		<p>{{::Locale('feedback')}}</p>
		<p>{{::Locale('bbs')}}</p>
		<p>{{::Locale('qqGroup')}}</p>

		<ul>
			<li><a href="#/unit">{{::Locale('Unit')}} {{::Locale('Editor')}}</a></li>
			<li><a href="#/hero">{{::Locale('Hero')}} {{::Locale('Editor')}}</a></li>
			<li><a href="#/ability">{{::Locale('Ability')}} {{::Locale('Editor')}}</a></li>
			<li><a href="#/item">{{::Locale('Item')}} {{::Locale('Editor')}}</a></li>
			<li><a href="#/language">{{::Locale('Language')}} {{::Locale('Editor')}}</a></li>
		</ul>
	</div>
</div>


