<div class="row">
	<div class="col-sm-2 col-md-2">
		<div id="listCntr" class="listCntr noSelect">
			<div ng-repeat="_lang in languageList track by $index" class="listItem"
			     ng-class="{active: lang == _lang}" ng-click="setLang(_lang);">
				<p class="title">
					{{config.languages[_lang.name].editorAliasName || _lang.name}}
				</p>
				<p class="desc">{{_lang.name}}</p>
			</div>
		</div>
	</div>
	<div class="col-sm-9 col-md-10 languageCntr" ng-show="lang">
		<div id="floatTool" style="position: fixed; top: 50px;padding-top: 10px; background: #FFF; height: 125px; border-bottom: 1px solid #DDD;" class="row">
			<div class="col-sm-7 col-md-7">
				<div class="form-group">
					<label>Create Text</label>
					<input type="text" class="form-control" placeholder="Key" ng-model="createKey" />
				</div>
				<button class="btn btn-primary" ng-click="create()">Create</button>
			</div>
			<div class="col-sm-5 col-md-5">
				<div class="form-group">
					<label>Search Text</label>
					<input type="text" class="form-control" placeholder="Key or Value" ng-model="searchKey" />
				</div>
				<button class="btn btn-primary" ng-click="search()">Search</button>
				<button class="btn btn-warning" ng-click="search(true)">Search Empty Value</button>
			</div>
		</div>
		
		<table class="table table-condensed table-bordered table-tiny" style="margin-top: 125px;">
			<thead>
			<tr>
				<th width="20"></th>
				<th width="200">Key</th>
				<th>Value</th>
			</tr>
			</thead>
			<tbody>
				<tr ng-repeat="key in keyList track by $index" data-key="{{key}}">
					<th class="text-center"><a href="javascript:void(0)" ng-click="removeKey(key)">[X]</a></th>
					<th style="word-break:break-all;">{{key}}</th>
					<td>
						<textarea class="form-control" rows="5" ng-model="GC.currentLanguage.kv.bind(key)"
						          ng-model-options="{getterSetter: true}"></textarea>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

