<div class="row">
	<div class="col-sm-3 col-md-2">
		<div id="listCntr" class="listCntr noSelect" ui-sortable ng-model="abilityList">
			<div ng-repeat="_ability in abilityList track by $index" class="listItem"
			     ng-class="{active: ability == _ability}"
			     ng-mousedown="setAbilityMouseDown(_ability);">
				<p class="title">
					<span class="fa sm" ng-class="{'fa-asterisk': _ability._changed, 'fa-circle': !_ability._changed}" style="color: {{config.abilities[_ability._name].markColor || '#CCC'}}"></span>
					<span class="fa fa-cubes sm" ng-if="config.abilities[_ability._name].markUsage === 'dummy'"></span>
					{{config.abilities[_ability._name].editorAliasName || _ability._name}}
					<span class="fa fa-exclamation-triangle text-danger" ng-if="conflictMap[_ability._name]"
					      uib-tooltip="Conflict name 【名称冲突】" tooltip-placement="right" tooltip-append-to-body="true"></span>
				</p>
				<p class="desc">{{_ability._comment}}</p>
			</div>
		</div>
		<button id="newItem" class="btn btn-primary" ng-click="newAbility()">+ New 【新建】</button>
	</div>
	<div class="col-sm-9 col-md-10" ng-show="!ready">
		<h1>Loading... 【载入中】</h1>
	</div>
	<div class="col-sm-9 col-md-10" ng-class="{abilityCntr: ready && !ability}" ng-show="ready && !ability">
		<h1>No Ability Yet 【还未创建Ability】</h1>
	</div>
	<div class="col-sm-9 col-md-10" ng-class="{abilityCntr: ability}" ng-show="ability">
		<div class="ability-cntr-header noIcon clearfix">
			<div class="ability-cntr-header-desc">
				<ul class="nav nav-pills pull-right">
					<li class="active">
						<a data-toggle="tab" class="fa fa-file-code-o" href="[data-id='ability']"></a>
						<span class="nav-tip">Ability 【能力】</span>
					</li>
					<li>
						<a data-toggle="tab" class="fa fa-book" href="[data-id='description']"></a>
						<span class="nav-tip">Language 【语言】</span>
					</li>
				</ul>

				<div class="ability-cntr-header-name ability-form">
					<span class="ability-tip">Name 【名称】</span>
					<input type="text" ng-model="ability._name" />
				</div>

				<div class="ability-form">
					<span class="ability-tip">Comment 【注释】</span>
					<textarea class="ability-form" ng-model="ability._comment" placeholder="Comment 【注释】..."></textarea>
				</div>
			</div>
		</div>

		<hr/>

		<div class="tab-content ability-cntr-body">
			<div data-id="ability" class="tab-pane fade in active">
				<ul class="nav nav-pills">
					<li ng-repeat="attrGroup in Unit.AttrList" ng-class="{active: currentTab === attrGroup}" ng-show="attrGroup.showFunc ? attrGroup.showFunc(this) : true;">
						<a ng-click="setCurrentTab(attrGroup)">{{Locale(attrGroup.name)}}</a>
					</li>
				</ul>

				<!-- Common KV Tab -->
				<div ng-show="currentTab.value">
					<table class="ability-table">
						<tbody ng-repeat="list in currentTab.value track by $index">
							<tr ng-repeat="unit in list track by $index" ng-if="unit.showFunc ? unit.showFunc(this) : true;">
								<th width="200">
									<span class="ability-tip">{{unit.attr}}</span>
									{{Locale(unit.attr)}}
								</th>
								<td class="ability-form">
									<div attrfield attrfield data-ability="ability" data-attrunit="unit" data-srcunit="ability" data-srctmpl="Unit"></div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<!-- Wearable Tab -->
				<div ng-show="currentTab.name === 'Wearable'">
					<table class="ability-table">
						<tbody>
							<tr ng-repeat="wearable in ability._wearableList track by $index">
								<th width="30">
									<a ng-click="common.array.remove(wearable, ability._wearableList)">
										[X]
									</a>
								</th>
								<th width="150">
									<span class="ability-tip">Wearable{{$index + 1}}</span>
									{{Locale('Wearable')}}{{$index + 1}}
								</th>
								<td class="ability-form">
									<input tipfield ng-model="wearable.ItemDef" data-matchfuc="Unit.match" />
									<!--div class="img-preview" ng-if="Unit.getWearableImagePath(wearable.ItemDef)">
										<button class="btn btn-default fa fa-picture-o"></button>
										<div class="img-preview-cntr">
											<h2>{{Unit.list[wearable.ItemDef].name}}</h2>
											<p>{{Unit.list[wearable.ItemDef].model_player}}</p>
											<img ng-src="{{Unit.getWearableImagePath(wearable.ItemDef)}}">
										</div>
									</div-->
									<div class="img-preview" ng-show="Unit.list[wearable.ItemDef]">
										<button class="btn btn-default fa fa-picture-o" ng-click="Unit.showWearablePreview(wearable.ItemDef)"></button>
									</div>
								</td>
							</tr>

							<tr ng-if="ability._wearableList.length === 0">
								<td>
									<p>No Wearable 【没有饰品】</p>
								</td>
							</tr>
						</tbody>
					</table>
					<button class="btn btn-dark" ng-click="ability._wearableList.push({})">+ new wearable 【新建饰品】</button>
				</div>
			</div>
		</div>
	</div>
</div>