<div class="row">
	<div class="col-sm-3 col-md-2">
		<div id="listCntr" class="listCntr noSelect" ui-sortable ng-model="abilityList">
			<div ng-repeat="_ability in abilityList track by $index" class="listItem"
			     ng-class="{active: ability == _ability}"
			     ng-mousedown="setAbilityMouseDown(_ability);">
				<p class="title">
					<span class="fa sm" ng-class="{'fa-asterisk': _ability._changed, 'fa-circle': !_ability._changed}" style="color: {{config.abilities[_ability._name].markColor || '#CCC'}}"></span>
					<span class="fa fa-cubes sm" ng-if="config.abilities[_ability._name].markUsage === 'dummy'"></span>
					{{config.abilities[_ability._name].editorAliasName || globalContent.mainLang().kv.get(Language.unitAttr(_ability, "")) || _ability._name}}
					<span class="fa fa-exclamation-triangle text-danger" ng-if="!unitCheck(_ability)"
					      uib-tooltip="{{::Locale('unitCheckFail')}}" tooltip-placement="right" tooltip-append-to-body="true"></span>
				</p>
				<p class="desc">{{_ability._comment}}</p>
			</div>
		</div>
		<button id="newItem" class="btn btn-primary" ng-click="newEntity()">+ {{::Locale('New')}}</button>
	</div>
	<div class="col-sm-9 col-md-10" ng-show="!ready">
		<h1>{{::Locale('Loading')}}...</h1>
	</div>
	<div class="col-sm-9 col-md-10" ng-class="{abilityCntr: ready && !ability}" ng-show="ready && !ability">
		<h1>{{::Locale('emptyList')}}</h1>
	</div>
	<div class="col-sm-9 col-md-10" ng-class="{abilityCntr: ability}" ng-show="ability">
		<div class="ability-cntr-header noIcon clearfix">
			<div class="ability-cntr-header-desc">
				<ul class="nav nav-pills pull-right">
					<li class="active">
						<a data-toggle="tab" class="fa fa-file-code-o" href="[data-id='ability']"></a>
						<span class="nav-tip">{{::Locale('Ability')}}</span>
					</li>
					<li>
						<a data-toggle="tab" class="fa fa-book" href="[data-id='description']"></a>
						<span class="nav-tip">{{::Locale('Language')}}</span>
					</li>
				</ul>

				<div class="ability-cntr-header-name ability-form">
					<h1>
						{{GC.mainLang().kv.get(Language.unitAttr(ability, "")) || Locale('Unnamed')}}
						<small>
							<a ng-click="UI.modal.rename(ability, renameCheck, renameCallback)">
								<span class="fa fa-edit"></span>
								{{::Locale('Rename')}}
							</a>
							{{ability._name}}
						</small>
					</h1>
				</div>

				<div class="ability-form">
					<span class="ability-tip">{{::Locale('Comment')}}</span>
					<textarea class="ability-form" ng-model="ability._comment" placeholder="{{::Locale('Comment')}}..."></textarea>
				</div>
			</div>
		</div>

		<hr/>

		<div class="tab-content ability-cntr-body">
			<!-- ============================================== -->
			<!-- =                    Main                    = -->
			<!-- ============================================== -->
			<div data-id="ability" class="tab-pane fade in active">
				<ul class="nav nav-pills">
					<li ng-repeat="attrGroup in Unit.AttrList" ng-class="{active: currentTab === attrGroup}" ng-show="attrGroup.showFunc ? attrGroup.showFunc(this) : true;">
						<a ng-click="setCurrentTab(attrGroup)">
							{{::Locale(attrGroup.name)}}
							<span ng-if="attrGroup.name === 'Unassigned'">({{ability.unassignedList.length}})</span>
						</a>
					</li>
				</ul>

				<!-- Tab Content -->
				<div ng-switch="currentTab.name">
					<!-- Wearable Tab -->
					<div ng-switch-when="Wearable">
						<table class="ability-table">
							<tbody>
								<tr ng-repeat="wearable in ability.kv.getValueByPath('Creature.AttachWearables', []) track by $index">
									<th width="30">
										<a ng-click="common.array.remove(wearable, ability.kv.getValueByPath('Creature.AttachWearables', []))">
											[X]
										</a>
									</th>
									<th width="150">
										<span class="ability-tip">Wearable{{$index + 1}}</span>
										{{::Locale('Wearable')}}{{$index + 1}}
									</th>
									<td class="ability-form">
										<input tipfield ng-model="wearable.bind('ItemDef')" ng-model-options="{getterSetter: true}" data-matchfuc="Unit.match" />
										<div class="img-preview" ng-show="Unit.list[wearable.get('ItemDef')]">
											<button class="btn btn-default fa fa-picture-o" ng-click="Unit.showWearablePreview(wearable.get('ItemDef'))"></button>
										</div>
									</td>
								</tr>

								<tr ng-if="ability.kv.getValueByPath('Creature.AttachWearables', []).length === 0">
									<td>
										<p>{{::Locale('NoWearable')}}</p>
									</td>
								</tr>
							</tbody>
						</table>

						<button class="btn btn-dark" ng-click="newWearable()">+ {{::Locale('New')}}</button>
					</div>

					<!-- Unassigned KV Tab -->
					<div ng-switch-when="Unassigned">
						<table class="ability-table">
							<tbody>
							<tr ng-repeat="kv in ability.unassignedList track by $index">
								<th width="35" class="text-center">
									<a ng-click="UI.arrayDelete(kv, ability.kv.value, refreshUnassigned)">[X]</a>
								</th>
								<th width="200">
									{{kv.key}}
								</th>
								<td class="ability-form">
									<input type="text" ng-model="kv.value" ng-if="!kv.isList()" />
									<pre ng-if="kv.isList()">{{kv.toString()}}</pre>
								</td>
							</tr>
							<tr ng-if="ability.unassignedList.length === 0">
								<td>
									<p>{{::Locale('NoUnassigned')}}</p>
								</td>
							</tr>
							</tbody>
						</table>

						<button class="btn btn-dark" ng-click="newUnassigned()">+ {{::Locale('New')}}</button>
					</div>

					<!-- Common KV Tab -->
					<div ng-switch-default>
						<table class="ability-table">
							<tbody ng-repeat="list in currentTab.value track by $index">
							<tr ng-repeat="unit in list track by $index" ng-if="unit.showFunc ? unit.showFunc(this) : true;">
								<th width="200">
									<span class="ability-tip">{{unit.attr}}</span>
									{{::Locale(unit.attr)}}
								</th>
								<td class="ability-form">
									<div kvfield data-ability="ability" data-attrunit="unit" data-srcunit="ability" data-srctmpl="Unit"></div>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div><!-- End of Container -->
			</div>

			<!-- =============================================== -->
			<!-- =                 Description                 = -->
			<!-- =============================================== -->
			<div data-id="description" class="tab-pane fade">
				<!-- No Language File -->
				<div ng-show="GC.languageList.length === 0">
					<h3>{{::Locale('noLanguageFile')}}</h3>
				</div>

				<!-- Has Language File -->
				<div class="row" ng-show="GC.languageList.length !== 0">
					<div class="col-md-2">
						<div class="listCntr">
							<div ng-repeat="_lang in GC.languageList track by $index" class="listItem"
								 ng-class="{active: GC.currentLanguage == _lang}" ng-click="GC.currentLanguage = _lang;">
								<p>{{_lang.name}}</p>
							</div>
						</div>
					</div>
					<div class="col-md-10">
						<p ng-show="!language.ready">Loading...</p>

						<!-- ========================= -->
						<!-- =      Description      = -->
						<!-- ========================= -->
						<table class="ability-table" ng-show="language.ready">
							<tbody>
								<tr ng-repeat="langField in Language.UnitLang track by $index">
									<th width="150">
										<span class="ability-tip">{{langField.attr || langField.title}}</span>
										{{langField.desc}}
									</th>
									<td>
										<button class="btn btn-default fa fa-paint-brush color-picker"></button>
										<input type="text" ng-model="GC.currentLanguage.kv.bind(Language.unitAttr(ability, langField.attr))"
										       ng-model-options="{getterSetter: true}" class="form-control" ng-if="langField.type === 'text'"/>
										<textarea ng-model="GC.currentLanguage.kv.bind(Language.unitAttr(ability, langField.attr))"
										          ng-model-options="{getterSetter: true}" class="form-control" ng-if="langField.type === 'blob'"></textarea>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- ====================================================================== -->
<!-- =                            Ability Menu                            = -->
<!-- ====================================================================== -->
<ul id="abilityMenu" class="app-menu app-float-menu">
	<li><a ng-click="setAbilityEditorAlias()">{{::Locale('EditorAlias')}}</a></li>
	<li class="app-submenu">
		<a>{{::Locale('UsageMarker')}}</a>
		<ul class="app-menu">
			<li><a ng-click="setAbilityMarkUsage('dummy');">{{::Locale('Dummy')}}</a></li>
			<li class="line"></li>
			<li><a ng-click="setAbilityMarkUsage();">{{::Locale('NoMark')}}</a></li>
		</ul>
	</li>
	<li class="app-submenu">
		<a>{{::Locale('ColorMarker')}}</a>
		<ul class="app-menu">
			<li><a ng-click="setAbilityMarkColor('#00a65a');"><span class="fa fa-circle sm" style="color: #00a65a;"></span> {{::Locale('Green')}}</a></li>
			<li><a ng-click="setAbilityMarkColor('#00c0ef');"><span class="fa fa-circle sm" style="color: #00c0ef;"></span> {{::Locale('Blue')}}</a></li>
			<li><a ng-click="setAbilityMarkColor('#dd4b39');"><span class="fa fa-circle sm" style="color: #dd4b39;"></span> {{::Locale('Red')}}</a></li>
			<li><a ng-click="setAbilityMarkColor('#f39c12');"><span class="fa fa-circle sm" style="color: #f39c12;"></span> {{::Locale('Yellow')}}</a></li>
			<li><a ng-click="setAbilityMarkColor('#666666');"><span class="fa fa-circle sm" style="color: #666666;"></span> {{::Locale('Black')}}</a></li>
			<li class="line"></li>
			<li><a ng-click="setAbilityMarkColor();"><span class="fa fa-circle sm" style="color: #cccccc;"></span> {{::Locale('None')}}</a></li>
		</ul>
	</li>
	<li><a ng-click="copyAbility()">{{::Locale('Duplicate')}}</a></li>
	<li class="line"></li>
	<li><a ng-click="deleteAbility()" class="danger">{{::Locale('Delete')}}</a></li>
</ul>

<!-- ====================================================================== -->
<!-- =                             Modal List                             = -->
<!-- ====================================================================== -->
<!-- New Unit -->
<div class="modal fade" id="newUnitMDL" tabindex="-1">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{{::Locale('New')}}</h4>
			</div>
			<div class="modal-body">
				<div class="form-group" ng-show="_newUnitFork">
					<label>* {{::Locale('OldName')}}</label>
					<input type="text" class="form-control" ng-model="_newUnitFork._name" disabled="disabled" />
				</div>
				<div class="form-group">
					<label>* {{::Locale('Name')}}</label>
					<input type="text" class="form-control" ng-model="_newUnitName"/>
				</div>
				<div class="checkbox" ng-show="_newUnitFork">
					<label>
						<input type="checkbox" ng-checked="_newUnitForkLang" ng-click="_newUnitForkLang = !_newUnitForkLang"> {{::Locale('ForkLang')}}
					</label>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" ng-click="confirmNewEntity()">OK</button>
			</div>
		</div>
	</div>
</div>

<!-- New Unassigned -->
<div class="modal fade" id="newUnassignedMDL" tabindex="-1">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{{::Locale('NewKV')}}</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label>* {{::Locale('Key')}}</label>
					<input type="text" class="form-control" ng-model="_newUnassignedKey"/>
				</div>
				<div class="form-group">
					<label>{{::Locale('Value')}}</label>
					<input type="text" class="form-control" ng-model="_newUnassignedValue"/>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" ng-click="confirmNewUnassigned()">OK</button>
			</div>
		</div>
	</div>
</div>