<!doctype html>
<html ng-app="app">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<!-- jQuery -->
	<script src="public/assets/jquery/jquery-1.11.3.min.js"></script>
	<script src="public/assets/jquery/jquery.form.js"></script>

	<!-- Moment -->
	<script src="public/assets/moment/moment.min.js"></script>

	<!-- Angular -->
	<script src="public/assets/angular/angular.min.js"></script>
	<script src="public/assets/angular/angular-resource.min.js"></script>
	<script src="public/assets/angular/angular-route.min.js"></script>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="public/assets/bootstrap/css/bootstrap.min.css">
	<script src="public/assets/bootstrap/js/bootstrap.min.js"></script>

	<!-- Bootstrap Components -->
	<link rel="stylesheet" href="public/assets/bootstrap-components/css/bootstrap-components.min.css">
	<script src="public/assets/bootstrap-components/js/bootstrap-components.min.js"></script>

	<link rel="stylesheet" href="public/css/main.css">

	<script src="public/js/components/groupSelect.js"></script>
	<script src="public/js/components/operation.js"></script>
	<script src="public/js/components/attrField.js"></script>
	<script src="public/js/components/operationField.js"></script>

	<script src="public/js/common.js"></script>
	<script src="public/js/app.js"></script>
	<script src="public/js/app.ability.js"></script>
	<script src="public/js/app.event.js"></script>
	<script src="public/js/app.operation.js"></script>
	<script src="public/js/app.modifier.js"></script>
	<script src="public/js/app.kv.js"></script>

	<script src="public/js/hammer.js"></script>
</head>
<body ng-controller="main">

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
			        aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/">Dota2 Editor</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="#/">Home</a></li>
			</ul>
			<ul class="nav navbar-nav pull-right">
			</ul>
		</div>
		<!--/.nav-collapse -->
	</div>
</nav>
<div id="content" class="container">
	<div ng-show="!globalContent.isOpen">
		<h1>Project Folder 【项目路径】</h1>
		<input type="text" class="form-control" ng-model="globalContent.project"
		       placeholder="项目路径，例如：C:\Steam\steamapps\common\dota 2 beta\game\dota_addons\sampleGame" />
		<br/>
		<button class="btn btn-primary" ng-click="loadProject()">Open【载入】</button>
	</div>
	<div ng-show="globalContent.isOpen" ng-view></div>

<pre id="test" class="hidden">// Dota Heroes File
"DOTAAbilities"
{
	"Version"		"1"

	// ============================================================================
	// =                                 马甲技能                                 =
	// ============================================================================
	// >>>>>>>>>> 马甲
	"noHealBar"
	{
		"BaseClass"					"ability_datadriven"
		"AbilityBehavior"			"DOTA_ABILITY_BEHAVIOR_PASSIVE"

		// ================================ Stats ================================
		"AbilityTextureName"		"ancient_apparition_chilling_touch"

		"MaxLevel"					"1"

		// ================================ Effect ================================
		"Modifiers"
		{
			"modifier_noHearBar"
			{
				"Passive"				"1"

				"States"
				{
					"MODIFIER_STATE_FLYING"				"MODIFIER_STATE_VALUE_ENABLED"	// 飞行
					"MODIFIER_STATE_NO_HEALTH_BAR"		"MODIFIER_STATE_VALUE_ENABLED"	// 无血条
					"MODIFIER_STATE_UNSELECTABLE"		"MODIFIER_STATE_VALUE_ENABLED"	// 不可选
					"MODIFIER_STATE_INVULNERABLE"		"MODIFIER_STATE_VALUE_ENABLED"	// 无敌
					"MODIFIER_STATE_NOT_ON_MINIMAP"		"MODIFIER_STATE_VALUE_ENABLED"	// 无小地图
					"MODIFIER_STATE_NO_UNIT_COLLISION"	"MODIFIER_STATE_VALUE_ENABLED"	// 无碰撞
					//"MODIFIER_STATE_INVISIBLE"			"MODIFIER_STATE_VALUE_ENABLED"	// 隐身
					"MODIFIER_STATE_MAGIC_IMMUNE"		"MODIFIER_STATE_VALUE_ENABLED"	// 魔免
				}
			}
		}
	}

	// >>>>>>>>>> 死亡标记
	"killerMark"
	{
		"BaseClass"					"ability_datadriven"
		"AbilityBehavior"			"DOTA_ABILITY_BEHAVIOR_PASSIVE"

		// ================================ Stats ================================
		"AbilityTextureName"		"ancient_apparition_chilling_touch"

		"MaxLevel"					"1"

		// ================================ Effect ================================
		"Modifiers"
		{
			"modifier_killerMark"
			{
				"Passive"				"1"

				"States"
				{
					"MODIFIER_STATE_FLYING"				"MODIFIER_STATE_VALUE_ENABLED"	// 飞行
					"MODIFIER_STATE_NO_HEALTH_BAR"		"MODIFIER_STATE_VALUE_ENABLED"	// 无血条
					"MODIFIER_STATE_UNSELECTABLE"		"MODIFIER_STATE_VALUE_ENABLED"	// 不可选
					"MODIFIER_STATE_INVULNERABLE"		"MODIFIER_STATE_VALUE_ENABLED"	// 无敌
					"MODIFIER_STATE_NO_UNIT_COLLISION"	"MODIFIER_STATE_VALUE_ENABLED"	// 无碰撞
					"MODIFIER_STATE_MAGIC_IMMUNE"		"MODIFIER_STATE_VALUE_ENABLED"	// 魔免
				}
			}
		}
	}

	// >>>>>>>>>> 无小地图
	"regionMark"
	{
		"BaseClass"					"ability_datadriven"
		"AbilityBehavior"			"DOTA_ABILITY_BEHAVIOR_PASSIVE"

		// ================================ Stats ================================
		"AbilityTextureName"		"ancient_apparition_chilling_touch"

		"MaxLevel"					"1"

		// ================================ Effect ================================
		"Modifiers"
		{
			"modifier_regionMark"
			{
				"Passive"				"1"

				"States"
				{
					"MODIFIER_STATE_FLYING"				"MODIFIER_STATE_VALUE_ENABLED"	// 飞行
					"MODIFIER_STATE_NO_HEALTH_BAR"		"MODIFIER_STATE_VALUE_ENABLED"	// 无血条
					"MODIFIER_STATE_UNSELECTABLE"		"MODIFIER_STATE_VALUE_ENABLED"	// 不可选
					"MODIFIER_STATE_INVULNERABLE"		"MODIFIER_STATE_VALUE_ENABLED"	// 无敌
					"MODIFIER_STATE_NOT_ON_MINIMAP"		"MODIFIER_STATE_VALUE_ENABLED"	// 无小地图
					"MODIFIER_STATE_NO_UNIT_COLLISION"	"MODIFIER_STATE_VALUE_ENABLED"	// 无碰撞
					"MODIFIER_STATE_MAGIC_IMMUNE"		"MODIFIER_STATE_VALUE_ENABLED"	// 魔免
				}
			}
		}
	}

	// ============================================================================
	// =                                 公用技能                                 =
	// ============================================================================
	// >>>>>>>>>> 伪善者的庇护
	"hypocriticalProtection"
	{
		"BaseClass"					"ability_datadriven"
		"AbilityBehavior"			"DOTA_ABILITY_BEHAVIOR_PASSIVE | DOTA_ABILITY_BEHAVIOR_HIDDEN"

		// ================================ Stats ================================
		"AbilityTextureName"		"abyssal_underlord_atrophy_aura"

		"MaxLevel"					"1"

		// ================================ Effect ================================
		"Modifiers"
		{
			"modifier_hypocriticalProtection"
			{
				"Passive"				"1"


				//"StatusEffectName"		"particles/status_fx/status_effect_wraithking_ghosts.vpcf"
				//"StatusEffectPriority"	"1"

				"Properties"
				{
					"MODIFIER_PROPERTY_MOVESPEED_BONUS_CONSTANT"			"1000"
				}

				"States"
				{
					"MODIFIER_STATE_INVULNERABLE"		"MODIFIER_STATE_VALUE_ENABLED"	// 无敌
					"MODIFIER_STATE_NO_UNIT_COLLISION"	"MODIFIER_STATE_VALUE_ENABLED"	// 无碰撞
					"MODIFIER_STATE_INVISIBLE"			"MODIFIER_STATE_VALUE_ENABLED"	// 隐身
					"MODIFIER_STATE_DISARMED"			"MODIFIER_STATE_VALUE_ENABLED"	// 缴械
					"MODIFIER_STATE_SILENCED"			"MODIFIER_STATE_VALUE_ENABLED"	// 沉默
					"MODIFIER_STATE_MAGIC_IMMUNE"		"MODIFIER_STATE_VALUE_ENABLED"	// 魔免
					//"MODIFIER_PROPERTY_INVISIBILITY_LEVEL"			"MODIFIER_STATE_VALUE_ENABLED"	// 隐身等级
					//"MODIFIER_PROPERTY_PERSISTENT_INVISIBILITY"		"MODIFIER_STATE_VALUE_ENABLED"	// 永久隐身
				}
			}
		}
	}

	// >>>>>>>>>> 营火
	"campfire"
	{
		"BaseClass"					"ability_datadriven"
		"AbilityBehavior"			"DOTA_ABILITY_BEHAVIOR_POINT | DOTA_ABILITY_BEHAVIOR_AOE"

		// ================================ Stats ================================
		"AbilityCastRange"			"150"
		"AbilityCastPoint"			"0.4"
		"AbilityCooldown"			"15.0"
		"AbilityManaCost"			"50"
		"AbilityCastAnimation"		"ACT_DOTA_ATTACK"

		"AbilityTextureName"		"brewmaster_fire_permanent_immolation"

		"MaxLevel"					"1"

		"AOERadius"					"%radius"

		// ================================ Effect ================================
		"OnSpellStart"
		{
			"SpawnUnit"
			{
				"UnitName"			"junit_campfire"
				"UnitCount"			"1"
				"SpawnRadius"		"10"
				"Target"			"POINT"
				"Duration"			"180"
				"GrantsGold"		"0"
				"GrantsXP"			"0"

				"OnSpawn"
				{
					"RunScript"
					{
						"ScriptFile"		"scripts/vscripts/ability/common.lua"
						"Function"			"common_ability_lvl"
					}
				}
			}
		}

		// =============================== Ability ===============================
		"AbilitySpecial"
		{
			"01"
			{
				"var_type"	"FIELD_INTEGER"
				"radius"	"500"
			}
		}
	}

	// > 营火 - 光环
	"campfire_armor"
	{
		"BaseClass"					"ability_datadriven"
		"AbilityBehavior"			"DOTA_ABILITY_BEHAVIOR_PASSIVE | DOTA_ABILITY_BEHAVIOR_AURA"

		"AbilityTextureName"		"invoker/magus_apex/invoker_exort"

		"AOERadius"					"%radius"

		"precache"
		{
			"particle"				"particles/world_environmental_fx/fire_camp_02_flame.vpcf"
			"particle"				"particles/econ/courier/courier_wyvern_hatchling/courier_wyvern_hatchling_fire_f.vpcf"
		}

		"Modifiers"
		{
			"modifier_aura"
			{
				"Passive"				"1"
				"IsHidden"				"1"
				"Aura"					"modifier_aura_effect"
				"Aura_Radius"			"%radius"
				"Aura_Teams"			"DOTA_UNIT_TARGET_TEAM_FRIENDLY"
				"Aura_Types"			"DOTA_UNIT_TARGET_HERO"
				"Aura_Flags"			"DOTA_UNIT_TARGET_FLAG_NONE"
				"Aura_ApplyToCaster"	"0"
			}

			"modifier_aura_effect"
			{
				"Properties"
				{
					"MODIFIER_PROPERTY_BONUS_DAY_VISION"			"%dayvision"
					"MODIFIER_PROPERTY_BONUS_NIGHT_VISION"			"%nightvision"
					"MODIFIER_PROPERTY_HEALTH_REGEN_CONSTANT"		"%hpincrease"
				}
			}

			"effect_fire_1"
			{
				"Passive"				"1"
				"IsHidden"				"1"
				"OnCreated"
				{
					"AttachEffect"
					{
						"EffectName"			"particles/world_environmental_fx/fire_camp_02_flame.vpcf"
						"EffectAttachType"		"follow_origin"
						"Target"				"TARGET"
						"ControlPoints"
						{
							"00"			"0 0 200"
							"01"			"0 0 200"
						}
					}
				}
			}
			"effect_fire_2"
			{
				"Passive"				"1"
				"IsHidden"				"1"
				"EffectName"			"particles/econ/courier/courier_wyvern_hatchling/courier_wyvern_hatchling_fire_f.vpcf"
				"EffectAttachType"		"follow_origin"
			}
		}

		// =============================== Ability ===============================
		"AbilitySpecial"
		{
			"01"
			{
				"var_type"		"FIELD_INTEGER"
				"radius"		"500"
			}
			"02"
			{
				"var_type"		"FIELD_INTEGER"
				"dayvision"		"800"
			}
			"03"
			{
				"var_type"		"FIELD_INTEGER"
				"nightvision"	"700"
			}
			"04"
			{
				"var_type"		"FIELD_INTEGER"
				"hpincrease"	"1"
			}
		}
	}

	// >>>>>>>>>> 抵抗
	"resistance"
	{
		"BaseClass"					"ability_datadriven"
		"AbilityBehavior"			"DOTA_ABILITY_BEHAVIOR_UNIT_TARGET"
		"AbilityUnitTargetTeam"		"DOTA_UNIT_TARGET_TEAM_ENEMY"
		"AbilityUnitTargetType"		"DOTA_UNIT_TARGET_HERO | DOTA_UNIT_TARGET_BASIC"
		"AbilityUnitDamageType"		"DAMAGE_TYPE_MAGICAL"

		// ================================ Stats ================================
		"AbilityCastRange"			"150"
		"AbilityCastPoint"			"0.4"
		"AbilityCooldown"			"5.0"
		"AbilityManaCost"			"50"

		"AbilityTextureName"		"ember_spirit_sleight_of_fist"

		"MaxLevel"					"1"

		// ================================ Effect ================================
		"OnSpellStart"
		{
			"Knockback"
			{
				"Target"			"TARGET"
				"Center"			"CASTER"
				"Duration"			"0.5"
				"Distance"			"%distance"
				"Height"			"0"
				"IsFixedDistance"	"0"
				"ShouldStun"		"0"
			}
			"RunScript"
			{
				"ScriptFile"		"scripts/vscripts/ability/common.lua"
				"Function"			"ability_resistance"
				"Target"			"UNIT"
			}
		}

		// =============================== Ability ===============================
		"AbilitySpecial"
		{
			"01"
			{
				"var_type"	"FIELD_INTEGER"
				"distance"	"300"
			}
			"02"
			{
				"var_type"	"FIELD_INTEGER"
				"mindamage"	"10"
			}
			"03"
			{
				"var_type"	"FIELD_INTEGER"
				"maxdamage"	"100"
			}
		}
	}

	// >>>>>>>>>> 闪烁（测试技能）
	"testBlink"
	{
		"BaseClass"					"ability_datadriven"
		"AbilityBehavior"			"DOTA_ABILITY_BEHAVIOR_POINT"

		// ================================ Stats ================================
		"AbilityCastRange"			"99999"
		"AbilityCastPoint"			"0"
		"AbilityCooldown"			"0"
		"AbilityManaCost"			"0"

		"AbilityTextureName"		"greevil_phantom_strike"

		"MaxLevel"					"1"

		"precache"
		{
			"particle"				"particles/econ/events/nexon_hero_compendium_2014/blink_dagger_start_sparkles_nexon_hero_cp_2014.vpcf"
		}

		// ================================ Effect ================================
		"OnSpellStart"
		{
			"FireEffect"
			{
				"EffectName"			"particles/econ/events/nexon_hero_compendium_2014/blink_dagger_start_sparkles_nexon_hero_cp_2014.vpcf"
				"EffectAttachType"		"follow_origin"
				"Target"				"CASTER"
			}

			"RunScript"
			{
				"ScriptFile"		"scripts/vscripts/ability/common.lua"
				"Function"			"ability_testBlink"
				"Target"			"POINT"
			}
		}
	}

	// >>>>>>>>>> 视野（测试技能）
	"testView"
	{
		"BaseClass"					"ability_datadriven"
		"AbilityBehavior"			"DOTA_ABILITY_BEHAVIOR_NO_TARGET | DOTA_ABILITY_BEHAVIOR_AOE"
		"AbilityUnitTargetTeam"		"DOTA_UNIT_TARGET_TEAM_ENEMY"
		"AbilityUnitTargetType"		"DOTA_UNIT_TARGET_HERO | DOTA_UNIT_TARGET_BASIC"
		"AbilityUnitDamageType"		"DAMAGE_TYPE_MAGICAL"

		// ================================ Stats ================================
		"AbilityCooldown"			"5"
		"AbilityCastPoint"			"0"
		"AbilityManaCost"			"0"

		"AbilityTextureName"		"enigma_malefice"

		"MaxLevel"					"1"

		"AOERadius"					"%radius"

		"precache"
		{
			"particle"				"particles/units/heroes/hero_axe/axe_beserkers_call_owner_b.vpcf"
		}

		// ================================ Effect ================================
		"OnSpellStart"
		{
			"FireEffect"
			{
				"EffectName"			"particles/units/heroes/hero_axe/axe_beserkers_call_owner_b.vpcf"
				"EffectAttachType"		"follow_origin"
				"Target"				"CASTER"
			}

			"ApplyModifier"
			{
				"ModifierName"			"modifier_testView"
				"Target"
				{
					"Types"				"DOTA_UNIT_TARGET_BASIC|DOTA_UNIT_TARGET_HERO"
					"Teams"				"DOTA_UNIT_TARGET_TEAM_ENEMY"
					//"Flags"				"DOTA_UNIT_TARGET_FLAG_NONE"
					"Center"			"CASTER"
					"Radius"			"%radius"
				}
			}
		}

		"Modifiers"
		{
			"modifier_testView"
			{
				"IsDebuff"				"1"
				"IsPurgable"			"1"

				"States"
				{
					"MODIFIER_STATE_PROVIDES_VISION"	"MODIFIER_STATE_VALUE_ENABLED"
				}
			}
		}

		// =============================== Ability ===============================
		"AbilitySpecial"
		{
			"01"
			{
				"var_type"			"FIELD_INTEGER"
				"radius"			"99999"
			}
		}
	}

	// >>>>>>>>>> 金肉山（测试技能）
	"gold_roshan"
	{
		"BaseClass"					"ability_datadriven"
		"AbilityBehavior"			"DOTA_ABILITY_BEHAVIOR_PASSIVE"

		// ================================ Stats ================================
		"AbilityTextureName"		"modifier_halloffame_glow"

		"MaxLevel"					"1"

		"precache"
		{
			"particle"				"particles/econ/courier/courier_wyvern_hatchling/courier_wyvern_hatchling_gold.vpcf"
			"particle"				"particles/econ/items/effigies/status_fx_effigies/status_effect_effigy_gold_lvl2.vpcf"
		}

		// ================================ Effect ================================
		"Modifiers"
		{
			"modifier_gold_roshan_1"
			{
				"Passive"				"1"

				"EffectName"			"particles/econ/courier/courier_wyvern_hatchling/courier_wyvern_hatchling_gold.vpcf"
				"EffectAttachType"		"follow_origin"
			}
			"modifier_gold_roshan_2"
			{
				"Passive"				"1"

				"StatusEffectName"		"particles/econ/items/effigies/status_fx_effigies/status_effect_effigy_gold_lvl2.vpcf"
				"StatusEffectPriority"	"15"
			}
		}
	}

	// ============================================================================
	// =                                 英雄技能                                 =
	// ============================================================================
	// = >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> 战士 <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< =
	// >>>>>>>>>> 挫志怒吼
	"demoralizingShout"
	{
		"BaseClass"					"ability_datadriven"
		"AbilityBehavior"			"DOTA_ABILITY_BEHAVIOR_NO_TARGET | DOTA_ABILITY_BEHAVIOR_AOE"
		"AbilityUnitTargetTeam"		"DOTA_UNIT_TARGET_TEAM_ENEMY"
		"AbilityUnitTargetType"		"DOTA_UNIT_TARGET_HERO | DOTA_UNIT_TARGET_BASIC"
		"AbilityUnitDamageType"		"DAMAGE_TYPE_MAGICAL"

		// ================================ Stats ================================
		"AbilityCooldown"			"10.0"
		"AbilityCastPoint"			"0.3"
		"AbilityManaCost"			"25"
		"AbilityCastAnimation"		"ACT_DOTA_OVERRIDE_ABILITY_1"

		"AbilityTextureName"		"axe_berserkers_call"

		"MaxLevel"					"4"
		"RequiredLevel"				"1"
		"LevelsBetweenUpgrades"		"1"

		"AOERadius"					"%radius"

		"precache"
		{
			"particle"				"particles/units/heroes/hero_axe/axe_beserkers_call_owner_b.vpcf"
		}

		// ================================ Effect ================================
		"OnSpellStart"
		{
			"FireEffect"
			{
				"EffectName"			"particles/units/heroes/hero_axe/axe_beserkers_call_owner_b.vpcf"
				"EffectAttachType"		"follow_origin"
				"Target"				"CASTER"
			}

			"ApplyModifier"
			{
				"ModifierName"			"modifier_demoralizingShout"
				"Target"
				{
					"Types"				"DOTA_UNIT_TARGET_BASIC|DOTA_UNIT_TARGET_HERO"
					"Teams"				"DOTA_UNIT_TARGET_TEAM_ENEMY"
					"Flags"				"DOTA_UNIT_TARGET_FLAG_NONE"
					"Center"			"CASTER"
					"Radius"			"%radius"
				}
			}

			"ApplyModifier"
			{
				"ModifierName"			"modifier_demoralizingShout_armor"
				"Target"				"CASTER"
			}
		}

		"Modifiers"
		{
			"modifier_demoralizingShout"
			{
				"IsDebuff"				"1"
				"IsPurgable"			"1"
				"Duration"				"%duration"

				"Properties"
				{
					"MODIFIER_PROPERTY_BASEDAMAGEOUTGOING_PERCENTAGE"			"%desattack"
				}
			}

			"modifier_demoralizingShout_armor"
			{
				"IsPurgable"			"1"
				"Duration"				"%duration"

				"OnAttacked"
				{
					"ApplyModifier"
					{
						"Target"		"CASTER"
						"ModifierName"	"modifier_demoralizingShout_armor_stack"
					}
				}
			}

			"modifier_demoralizingShout_armor_stack"
			{
				"Duration"		"%armorDuration"
				"IsHidden"		"1"
				"Attributes"	"MODIFIER_ATTRIBUTE_MULTIPLE"

				"Properties"
				{
					"MODIFIER_PROPERTY_PHYSICAL_ARMOR_BONUS"	"%armor"
				}
			}
		}

		// =============================== Ability ===============================
		"AbilitySpecial"
		{
			"01"
			{
				"var_type"			"FIELD_INTEGER"
				"radius"			"325"
			}
			"02"
			{
				"var_type"			"FIELD_INTEGER"
				"desattack"			"-10 -20 -30 -50"
			}
			"03"
			{
				"var_type"			"FIELD_FLOAT"
				"armor"				"0.5 1.0 1.5 2"
			}
			"04"
			{
				"var_type"			"FIELD_INTEGER"
				"armorDuration"		"7"
			}
			"05"
			{
				"var_type"			"FIELD_INTEGER"
				"duration"			"10"
			}
		}
	}

	// >>>>>>>>>> 英勇
	"bravery"
	{
		"BaseClass"					"ability_datadriven"
		"AbilityBehavior"			"DOTA_ABILITY_BEHAVIOR_NO_TARGET | DOTA_ABILITY_BEHAVIOR_IMMEDIATE"

		// ================================ Stats ================================
		"AbilityCooldown"			"10.0"
		"AbilityManaCost"			"15"

		"AbilityTextureName"		"ember_spirit_fire_remnant"

		"MaxLevel"					"4"
		"RequiredLevel"				"1"
		"LevelsBetweenUpgrades"		"1"

		"precache"
		{
			"particle"				"particles/econ/courier/courier_greevil_red/courier_greevil_red_ambient_d.vpcf"
		}

		// ================================ Effect ================================
		"OnSpellStart"
		{
			"ApplyModifier"
			{
				"ModifierName"			"modifier_bravery"
				"Target"				"CASTER"
			}
		}

		"Modifiers"
		{
			"modifier_bravery"
			{
				"Duration"				"%duration"

				"EffectName"			"particles/econ/courier/courier_greevil_red/courier_greevil_red_ambient_d.vpcf"
				"EffectAttachType"		"follow_origin"

				"Properties"
				{
					"MODIFIER_PROPERTY_BASEDAMAGEOUTGOING_PERCENTAGE"			"%incattack"
					"MODIFIER_PROPERTY_INCOMING_DAMAGE_PERCENTAGE"				"%incdamage"
				}
			}
		}

		// =============================== Ability ===============================
		"AbilitySpecial"
		{
			"01"
			{
				"var_type"	"FIELD_INTEGER"
				"incattack"	"10 25 40 60"
			}
			"02"
			{
				"var_type"	"FIELD_INTEGER"
				"incdamage"	"10 15 20 25"
			}
			"03"
			{
				"var_type"	"FIELD_INTEGER"
				"duration"	"8"
			}
		}
	}

	// = >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> 猎人 <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< =
	// >>>>>>>>>> 凝神射击
	"tranquilizingShot"
	{
		"BaseClass"					"ability_datadriven"
		"AbilityBehavior"			"DOTA_ABILITY_BEHAVIOR_TOGGLE | DOTA_ABILITY_BEHAVIOR_IMMEDIATE"

		// ================================ Stats ================================
		"AbilityCooldown"			"5.0"

		"AbilityTextureName"		"drow_ranger_marksmanship"

		"MaxLevel"					"4"
		"RequiredLevel"				"1"
		"LevelsBetweenUpgrades"		"1"

		"precache"
		{
			"particle"				"particles/econ/items/faceless_void/faceless_void_jewel_of_aeons/fv_time_walk_slow_warp_d_jewel.vpcf"
		}

		// ================================ Effect ================================
		"OnToggleOn"
		{
			"ApplyModifier"
			{
				"ModifierName"			"modifier_tranquilizingShot"
				"Target"				"CASTER"
			}
		}

		"OnToggleOff"
		{
			"RemoveModifier"
			{
				"ModifierName"			"modifier_tranquilizingShot"
				"Target"				"CASTER"
			}
		}

		"Modifiers"
		{
			"modifier_tranquilizingShot"
			{
				"OnAttackLanded"
				{
					"RunScript"
					{
						"ScriptFile"		"scripts/vscripts/ability/hero.lua"
						"Function"			"ability_tranquilizingShot"
						"Target"			"UNIT"
					}
				}
			}

			"modifier_tranquilizingShotted"
			{
				"IsDebuff"				"1"
				"Duration"				"%duration"

				"Properties"
				{
					"MODIFIER_PROPERTY_ATTACKSPEED_BONUS_CONSTANT"			"%desattackspeed"
					"MODIFIER_PROPERTY_MOVESPEED_BONUS_PERCENTAGE"			"%desmovespeed"
				}
			}

			"modifier_tranquilizingShotted_effect"
			{
				"IsHidden"				"1"
				"Duration"				"0.1"
				"Attributes"			"MODIFIER_ATTRIBUTE_MULTIPLE"

				"OnCreated"
				{
					"AttachEffect"
					{
						"EffectName"			"particles/econ/items/faceless_void/faceless_void_jewel_of_aeons/fv_time_walk_slow_warp_d_jewel.vpcf"
						"EffectAttachType"		"start_at_customorigin"
						"Target"				"TARGET"
						"ControlPointEntities"
						{
							"TARGET"			"attach_hitloc"
						}
					}
				}
			}
		}

		// =============================== Ability ===============================
		"AbilitySpecial"
		{
			"01"
			{
				"var_type"			"FIELD_INTEGER"
				"desattackspeed"	"-50"
			}
			"02"
			{
				"var_type"			"FIELD_INTEGER"
				"desmovespeed"		"-10 -20 -30 -50"
			}
			"03"
			{
				"var_type"			"FIELD_INTEGER"
				"manaCost"			"6"
			}
			"04"
			{
				"var_type"			"FIELD_INTEGER"
				"chance"			"30 35 40 50"
			}
			"05"
			{
				"var_type"			"FIELD_INTEGER"
				"unitDamage"		"5 10 15 25"
			}
			"06"
			{
				"var_type"			"FIELD_INTEGER"
				"duration"			"2"
			}
		}
	}


	// >>>>>>>>>> 弱点攻击
	"weaknessAttack"
	{
		"BaseClass"					"ability_datadriven"
		"AbilityBehavior"			"DOTA_ABILITY_BEHAVIOR_UNIT_TARGET"
		"AbilityUnitTargetTeam"		"DOTA_UNIT_TARGET_TEAM_ENEMY"
		"AbilityUnitTargetType"		"DOTA_UNIT_TARGET_HERO | DOTA_UNIT_TARGET_BASIC"
		"AbilityUnitDamageType"		"DAMAGE_TYPE_MAGICAL"

		// ================================ Stats ================================
		"AbilityCastRange"			"%distance"
		"AbilityCastPoint"			"0.4"
		"AbilityCooldown"			"2.5"
		"AbilityManaCost"			"15"
		"AbilityCastAnimation"		"ACT_DOTA_ATTACK"

		"AbilityTextureName"		"invoker_alacrity"

		"MaxLevel"					"4"
		"RequiredLevel"				"1"
		"LevelsBetweenUpgrades"		"1"

		"precache"
		{
			"particle"				"particles/units/heroes/hero_dazzle/dazzle_base_attack.vpcf"
		}

		// ================================ Effect ================================
		"OnSpellStart"
		{
			"TrackingProjectile"
			{
				"Target"			"TARGET"
				"Dodgeable"			"1"
				"ProvidesVision"	"1"
				"VisionRadius"		"300"
				"MoveSpeed"			"2000"
				"EffectName"		"particles/units/heroes/hero_dazzle/dazzle_base_attack.vpcf"
			}
		}

		"OnProjectileHitUnit"
		{
			"ApplyModifier"
			{
				"ModifierName"			"modifier_weaknessAttack"
				"Target"				"TARGET"
			}

			"RunScript"
			{
				"ScriptFile"		"scripts/vscripts/ability/hero.lua"
				"Function"			"ability_weaknessAttack"
				"Target"			"UNIT"
			}
		}

		"Modifiers"
		{
			"modifier_weaknessAttack"
			{
				"IsDebuff"				"1"
				"Duration"				"%duration"

				"Properties"
				{
					"MODIFIER_PROPERTY_PHYSICAL_ARMOR_BONUS"			"%armorDesc"
				}
			}
		}

		// =============================== Ability ===============================
		"AbilitySpecial"
		{
			"01"
			{
				"var_type"			"FIELD_INTEGER"
				"armorDesc"			"-1 -2 -3 -5"
			}
			"02"
			{
				"var_type"			"FIELD_INTEGER"
				"additionalDamage"	"10 17 24 31"
			}
			"03"
			{
				"var_type"			"FIELD_INTEGER"
				"distance"			"600 600 600 800"
			}
			"04"
			{
				"var_type"			"FIELD_INTEGER"
				"duration"			"5 7 9 15"
			}
		}
	}


	// = >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> 医师 <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< =
	// >>>>>>>>>> 神圣之火
	"sacredFire"
	{
		"BaseClass"					"ability_datadriven"
		"AbilityBehavior"			"DOTA_ABILITY_BEHAVIOR_UNIT_TARGET"
		"AbilityUnitTargetTeam"		"DOTA_UNIT_TARGET_TEAM_BOTH"
		"AbilityUnitTargetType"		"DOTA_UNIT_TARGET_HERO | DOTA_UNIT_TARGET_BASIC"
		"AbilityUnitDamageType"		"DAMAGE_TYPE_MAGICAL"

		// ================================ Stats ================================
		"AbilityCastRange"			"%distance"
		"AbilityCastPoint"			"0.4"
		"AbilityCooldown"			"5"
		"AbilityManaCost"			"50"

		"AbilityTextureName"		"lina_light_strike_array"

		"MaxLevel"					"4"
		"RequiredLevel"				"1"
		"LevelsBetweenUpgrades"		"1"

		"precache"
		{
			"particle"				"particles/units/heroes/hero_omniknight/omniknight_purification.vpcf"
		}

		// ================================ Effect ================================
		"OnSpellStart"
		{
			"ApplyModifier"
			{
				"Target"		"CASTER"
				"ModifierName"	"modifier_sacredFire_stack"
			}

			"FireEffect"
			{
				"EffectName"			"particles/units/heroes/hero_omniknight/omniknight_purification.vpcf"
				"EffectAttachType"		"follow_origin"
				"Target"				"TARGET"
				"ControlPoints"
				{
					"00"		"0 0 5"
					"01"		"300 300 300"
					"02"		"0 0 5"
				}
			}

			"RunScript"
			{
				"ScriptFile"		"scripts/vscripts/ability/hero.lua"
				"Function"			"ability_sacredFire"
				"Target"			"UNIT"
			}
		}

		"Modifiers"
		{
			"modifier_sacredFire_stack"
			{
				"Duration"				"%duration"

				"OnDestroy"
				{
					"RemoveAbility"
					{
						"Target"		"CASTER"
						"AbilityName"	"sacredFireCD"
					}

					"RemoveModifier"
					{
						"Target"		"CASTER"
						"ModifierName"	"modifier_sacredFire_cd"
					}
				}
			}
		}

		// =============================== Ability ===============================
		"AbilitySpecial"
		{
			"01"
			{
				"var_type"			"FIELD_INTEGER"
				"heal"				"30 45 60 80"
			}
			"02"
			{
				"var_type"			"FIELD_INTEGER"
				"damage"			"25 30 35 40"
			}
			"03"
			{
				"var_type"			"FIELD_INTEGER"
				"maxLayer"			"2 4 6 8"
			}
			"04"
			{
				"var_type"			"FIELD_INTEGER"
				"distance"			"500 600 700 800"
			}
			"05"
			{
				"var_type"			"FIELD_INTEGER"
				"duration"			"10 15 20 25"
			}
		}
	}

	// >>>>>>>>>> 神圣之火 - CD马甲
	"sacredFireCD"
	{
		"BaseClass"					"ability_datadriven"
		"AbilityBehavior"			"DOTA_ABILITY_BEHAVIOR_PASSIVE | DOTA_ABILITY_BEHAVIOR_HIDDEN"

		// ================================ Stats ================================
		"AbilityTextureName"		"storm_spirit_overload"

		"MaxLevel"					"10"
		"RequiredLevel"				"0"
		"LevelsBetweenUpgrades"		"0"

		// ================================ Effect ================================
		"Modifiers"
		{
			"modifier_sacredFire_cd"
			{
				"Passive"				"1"
				"IsHidden"				"1"

				"Properties"
				{
					"MODIFIER_PROPERTY_COOLDOWN_REDUCTION_CONSTANT"			"%cdDesc"
				}
			}
		}

		// =============================== Ability ===============================
		"AbilitySpecial"
		{
			"01"
			{
				"var_type"			"FIELD_INTEGER"
				"cdDesc"			"1 2 3 4 5 6 7 8 9 10"
			}
		}
	}

	// >>>>>>>>>> 灵魂分流
	"soulDiversion"
	{
		"BaseClass"					"ability_datadriven"
		"AbilityBehavior"			"DOTA_ABILITY_BEHAVIOR_UNIT_TARGET"
		"AbilityUnitTargetTeam"		"DOTA_UNIT_TARGET_TEAM_BOTH"
		"AbilityUnitTargetType"		"DOTA_UNIT_TARGET_HERO | DOTA_UNIT_TARGET_BASIC"
		"AbilityUnitDamageType"		"DAMAGE_TYPE_MAGICAL"

		// ================================ Stats ================================
		"AbilityCastRange"			"%distance"
		"AbilityCastPoint"			"0.4"
		"AbilityCooldown"			"10"
		"AbilityManaCost"			"50"

		"AbilityTextureName"		"disruptor_glimpse"

		"MaxLevel"					"4"
		"RequiredLevel"				"1"
		"LevelsBetweenUpgrades"		"1"

		"precache"
		{
			"particle"				"particles/units/heroes/hero_shadow_demon/shadow_demon_soul_catcher_debuff_glow.vpcf"
			"particle"				"particles/units/heroes/hero_keeper_of_the_light/keeper_chakra_magic.vpcf"
		}

		// ================================ Effect ================================
		"OnSpellStart"
		{
			"ApplyModifier"
			{
				"Target"		"TARGET"
				"ModifierName"	"modifier_soulDiversion"
			}

			"FireEffect"
			{
				"EffectName"			"particles/units/heroes/hero_keeper_of_the_light/keeper_chakra_magic.vpcf"
				"EffectAttachType"		"start_at_customorigin"
				"Target"				"TARGET"
				"ControlPointEntities"
				{
					"TARGET"		"attach_hitloc"
					"TARGET"		"follow_origin"
					"TARGET"		"attach_hitloc"
					"TARGET"		"attach_hitloc"
					"TARGET"		"attach_hitloc"
					"TARGET"		"attach_hitloc"
				}
			}
		}

		"Modifiers"
		{
			"modifier_soulDiversion"
			{
				"Duration"				"%duration"

				"EffectName"			"particles/units/heroes/hero_shadow_demon/shadow_demon_soul_catcher_debuff_glow.vpcf"
				"EffectAttachType"		"follow_origin"

				"OnSpentMana"
				{
					"RunScript"
					{
						"ScriptFile"		"scripts/vscripts/ability/hero.lua"
						"Function"			"ability_soulDiversion"
						"Target"			"UNIT"
					}
				}
			}
		}

		// =============================== Ability ===============================
		"AbilitySpecial"
		{
			"01"
			{
				"var_type"			"FIELD_INTEGER"
				"manaBack"			"20 30 40 60"
			}
			"02"
			{
				"var_type"			"FIELD_FLOAT"
				"armorDesc"			"1.5 3 4.5 6"
			}
			"03"
			{
				"var_type"			"FIELD_INTEGER"
				"distance"			"600"
			}
			"04"
			{
				"var_type"			"FIELD_INTEGER"
				"duration"			"5 6 7 8"
			}
		}
	}

	// = >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> 守陵人 <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< =
	// >>>>>>>>>> 地缚灵
	"earthboundSpirit"
	{
		"BaseClass"					"ability_datadriven"
		"AbilityBehavior"			"DOTA_ABILITY_BEHAVIOR_NO_TARGET | DOTA_ABILITY_BEHAVIOR_AOE | DOTA_ABILITY_BEHAVIOR_IMMEDIATE"

		// ================================ Stats ================================
		"AbilityCooldown"			"5.0"
		"AbilityManaCost"			"20"

		"AbilityTextureName"		"greevil_fatal_bonds"

		"MaxLevel"					"1"
		"RequiredLevel"				"1"
		"LevelsBetweenUpgrades"		"1"

		"AOERadius"					"%radius"

		"precache"
		{
			"particle"				"particles/units/heroes/hero_queenofpain/queen_scream_of_wave.vpcf"
		}

		// ================================ Effect ================================
		"OnSpellStart"
		{
			"FireEffect"
			{
				"EffectName"			"particles/units/heroes/hero_queenofpain/queen_scream_of_wave.vpcf"
				"EffectAttachType"		"follow_origin"
				"Target"				"CASTER"
			}

			"RunScript"
			{
				"ScriptFile"		"scripts/vscripts/ability/hero.lua"
				"Function"			"ability_earthboundSpirit"
				"Target"
				{
					"Types"				"DOTA_UNIT_TARGET_BASIC"
					"Teams"				"DOTA_UNIT_TARGET_TEAM_FRIENDLY"
					"Flags"				"DOTA_UNIT_TARGET_FLAG_NONE"
					"Center"			"CASTER"
					"Radius"			"%radius"
				}
			}
		}

		"Modifiers"
		{
			"modifier_earthboundSpirit_killer"
			{
				"Passive"				"1"
				"IsHidden"				"1"

				"OnKill"
				{
					"SpawnUnit"
					{
						"UnitName"			"junit_earthboundSpirit"
						"UnitCount"			"1"
						"SpawnRadius"		"500"
						"Target"			"CASTER"
						"Duration"			"%duration"
						"GrantsGold"		"0"
						"GrantsXP"			"0"
					}

					"RunScript"
					{
						"ScriptFile"		"scripts/vscripts/ability/hero.lua"
						"Function"			"ability_earthboundSpirit_killer"
					}
				}
			}
		}

		// =============================== Ability ===============================
		"AbilitySpecial"
		{
			"01"
			{
				"var_type"			"FIELD_INTEGER"
				"radius"			"1000"
			}
			"02"
			{
				"var_type"			"FIELD_FLOAT"
				"mana"				"0.5"
			}
			"03"
			{
				"var_type"			"FIELD_INTEGER"
				"heal"				"15"
			}
			"04"
			{
				"var_type"			"FIELD_INTEGER"
				"duration"			"30"
			}
		}
	}

	// > 地缚灵 - 光环
	"earthboundSpirit_armor"
	{
		"BaseClass"					"ability_datadriven"
		"AbilityBehavior"			"DOTA_ABILITY_BEHAVIOR_PASSIVE | DOTA_ABILITY_BEHAVIOR_AURA"

		"AbilityTextureName"		"enigma_malefice"

		"AOERadius"					"%radius"

		"precache"
		{
			"particle"				"particles/items_fx/item_sheepstick_d.vpcf"		// 变出灵魂
		}

		// ================================ Effect ================================
		"Modifiers"
		{
			"modifier_earthboundSpirit_aura"
			{
				"Passive"				"1"
				"IsHidden"				"1"
				"Aura"					"modifier_earthboundSpirit_aura_effect"
				"Aura_Radius"			"%radius"
				"Aura_Teams"			"DOTA_UNIT_TARGET_TEAM_FRIENDLY"
				"Aura_Types"			"DOTA_UNIT_TARGET_HERO"
				"Aura_Flags"			"DOTA_UNIT_TARGET_FLAG_NONE"
				"Aura_ApplyToCaster"	"0"
			}

			"modifier_earthboundSpirit_icon_aura"
			{
				"Passive"				"1"
				"IsHidden"				"1"
				"Aura"					"modifier_earthboundSpirit_aura_dummy"
				"Aura_Radius"			"%radius"
				"Aura_Teams"			"DOTA_UNIT_TARGET_TEAM_FRIENDLY"
				"Aura_Types"			"DOTA_UNIT_TARGET_HERO"
				"Aura_Flags"			"DOTA_UNIT_TARGET_FLAG_NONE"
				"Aura_ApplyToCaster"	"0"
			}

			"modifier_earthboundSpirit_aura_effect"
			{
				"IsHidden"				"1"
				"Attributes"	"MODIFIER_ATTRIBUTE_MULTIPLE"

				"Properties"
				{
					"MODIFIER_PROPERTY_MANA_REGEN_CONSTANT"		"%mana"
				}
			}

			"modifier_earthboundSpirit_aura_dummy"	// 马甲图标
			{
			}

			// 标记，用于移动单位到死者地点
			"modifier_earthboundSpirit_mark"
			{
				"Passive"				"1"

				"OnCreated"
				{
					"FireEffect"
					{
						"EffectName"			"particles/items_fx/item_sheepstick_d.vpcf"
						"EffectAttachType"		"attach_hitloc"
						"Target"				"CASTER"
					}
				}
			}
		}

		// =============================== Ability ===============================
		"AbilitySpecial"
		{
			"01"
			{
				"var_type"		"FIELD_INTEGER"
				"radius"		"500"
			}
			"02"
			{
				"var_type"		"FIELD_FLOAT"
				"mana"			"0.5"
			}
		}
	}

	// > 地缚灵 - 马甲
	"earthboundSpirit_heal"
	{
		"BaseClass"					"ability_datadriven"
		"AbilityBehavior"			"DOTA_ABILITY_BEHAVIOR_UNIT_TARGET"
		"AbilityUnitTargetTeam"		"DOTA_UNIT_TARGET_TEAM_FRIENDLY"
		"AbilityUnitTargetType"		"DOTA_UNIT_TARGET_HERO | DOTA_UNIT_TARGET_BASIC"
		"AbilityUnitDamageType"		"DAMAGE_TYPE_MAGICAL"

		// ================================ Stats ================================
		"AbilityCastRange"			"10000"

		"AbilityTextureName"		"undying_soul_rip"

		"MaxLevel"					"1"
		"RequiredLevel"				"1"
		"LevelsBetweenUpgrades"		"1"

		"precache"
		{
			"particle"				"particles/units/heroes/hero_dazzle/dazzle_base_attack.vpcf"
		}

		// ================================ Effect ================================
		"OnSpellStart"
		{
			"TrackingProjectile"
			{
				"Target"			"TARGET"
				"Dodgeable"			"MODIFIER_STATE_VALUE_DISABLED"
				"ProvidesVision"	"MODIFIER_STATE_VALUE_ENABLED"
				"VisionRadius"		"100"
				"MoveSpeed"			"600"
				"EffectName"		"particles/econ/items/necrolyte/necrophos_sullen_gold/necro_sullen_pulse_friend_gold.vpcf"
			}
		}

		"OnProjectileHitUnit"
		{
			"Heal"
			{
				"HealAmount"		"%heal"
				"Target"			"TARGET"
			}
		}

		// =============================== Ability ===============================
		"AbilitySpecial"
		{
			"01"
			{
				"var_type"			"FIELD_INTEGER"
				"heal"				"15"
			}
		}
	}

	// >>>>>>>>>> 幽冥使者
	"netherMessager"
	{
		"BaseClass"					"ability_datadriven"
		"AbilityBehavior"			"DOTA_ABILITY_BEHAVIOR_NO_TARGET | DOTA_ABILITY_BEHAVIOR_IMMEDIATE"

		// ================================ Stats ================================
		"AbilityCooldown"			"30.0"
		"AbilityManaCost"			"50"

		"AbilityTextureName"		"skeleton_king_hellfire_blast"

		"MaxLevel"					"1"
		"RequiredLevel"				"1"
		"LevelsBetweenUpgrades"		"1"

		"precache"
		{
			"particle"				"particles/units/heroes/hero_abaddon/abaddon_borrowed_time.vpcf" // 激发
			"particle"				"particles/econ/courier/courier_faceless_rex/cour_rex_ground_a.vpcf" // 绿烟
			"particle"				"particles/status_fx/status_effect_abaddon_borrowed_time.vpcf"	// 灵魂状态
		}

		// ================================ Effect ================================
		"OnSpellStart"
		{
			"ApplyModifier"
			{
				"ModifierName"			"modifier_netherMessager"
				"Target"				"CASTER"
			}
			"ApplyModifier"
			{
				"ModifierName"			"modifier_netherMessager_effect"
				"Target"				"CASTER"
			}
			"ApplyModifier"
			{
				"ModifierName"			"modifier_netherMessager_effect2"
				"Target"				"CASTER"
			}
		}

		"Modifiers"
		{
			"modifier_netherMessager"
			{
				"Duration"				"%duration"

				"EffectName"			"particles/econ/courier/courier_faceless_rex/cour_rex_ground_a.vpcf"
				"EffectAttachType"		"follow_origin"

				"Properties"
				{
					"MODIFIER_PROPERTY_ABSOLUTE_NO_DAMAGE_PHYSICAL"			"1"					// 物免
				}

				"States"
				{
					"MODIFIER_STATE_ATTACK_IMMUNE"				"MODIFIER_STATE_VALUE_ENABLED"	// 攻击免疫
					"MODIFIER_STATE_DISARMED"					"MODIFIER_STATE_VALUE_ENABLED"	// 缴械
				}
			}

			"modifier_netherMessager_effect"
			{
				"IsHidden"				"1"
				"Duration"				"%duration"

				"StatusEffectName"		"particles/status_fx/status_effect_abaddon_borrowed_time.vpcf"
				"StatusEffectPriority"	"15"
			}

			"modifier_netherMessager_effect2"
			{
				"IsHidden"				"1"
				"Duration"				"0.1"

				"EffectName"			"particles/units/heroes/hero_abaddon/abaddon_borrowed_time.vpcf"
				"EffectAttachType"		"follow_origin"
			}
		}

		// =============================== Ability ===============================
		"AbilitySpecial"
		{
			"01"
			{
				"var_type"	"FIELD_INTEGER"
				"duration"	"5"
			}
		}
	}

	// >>>>>>>>>> 魂之哀伤
	"arthasMourne"
	{
		"BaseClass"					"ability_datadriven"
		"AbilityBehavior"			"DOTA_ABILITY_BEHAVIOR_UNIT_TARGET | DOTA_ABILITY_BEHAVIOR_CHANNELLED | DOTA_ABILITY_BEHAVIOR_IGNORE_BACKSWING"
		"AbilityUnitTargetTeam"		"DOTA_UNIT_TARGET_TEAM_ENEMY"
		"AbilityUnitTargetType"		"DOTA_UNIT_TARGET_HERO | DOTA_UNIT_TARGET_BASIC"
		"AbilityUnitDamageType"		"DAMAGE_TYPE_MAGICAL"

		// ================================ Stats ================================
		"AbilityCastRange"						"500"
		"AbilityCastPoint"						"0.4"
		"AbilityCooldown"						"10.0"
		"AbilityManaCost"						"50"
		"AbilityChannelTime"					"60"
		"AbilityChannelledManaCostPerSecond"	"10"
		"AbilityCastRangeBuffer"				"350"

		"AbilityCastAnimation"					"ACT_DOTA_CHANNEL_ABILITY_1"

		"AbilityTextureName"					"kunkka_ghostship"

		"MaxLevel"								"4"
		"RequiredLevel"							"1"
		"LevelsBetweenUpgrades"					"1"

		"precache"
		{
			"particle"				"particles/units/heroes/hero_lion/lion_spell_mana_drain.vpcf"
		}

		// ================================ Effect ================================
		"OnSpellStart"
		{
			"ApplyModifier"
			{
				"Target"			"CASTER"
				"ModifierName"		"modifier_arthasMourne_damage"
			}

			"RunScript"
			{
				"ScriptFile"		"scripts/vscripts/ability/hero.lua"
				"Function"			"ability_arthasMourne"
			}
		}

		"OnChannelFinish"
		{
			"RemoveModifier"
			{
				"Target"			"CASTER"
				"ModifierName"		"modifier_arthasMourne_damage"
			}

			"RunScript"
			{
				"ScriptFile"		"scripts/vscripts/ability/hero.lua"
				"Function"			"ability_arthasMourne_stop"
			}
		}

		"Modifiers"
		{
			"modifier_arthasMourne_damage"
			{
				"ThinkInterval"				"%interval"
				"OnIntervalThink"
				{
					"RunScript"
					{
						"ScriptFile"		"scripts/vscripts/ability/hero.lua"
						"Function"			"ability_arthasMourne_damage"
					}
				}
			}
		}

		// =============================== Ability ===============================
		"AbilitySpecial"
		{
			"01"
			{
				"var_type"	"FIELD_FLOAT"
				"damage"	"25 35 45 55"
			}
			"02"
			{
				"var_type"	"FIELD_INTEGER"
				"secMana"	"10"
			}
			"03"
			{
				"var_type"	"FIELD_FLOAT"
				"interval"	"0.1"
			}
			"04"
			{
				"var_type"	"FIELD_INTEGER"
				"duration"	"60"
			}
		}
	}

	// >>>>>>>>>> 灵魂颤栗
	"soulShudder"
	{
		"BaseClass"					"ability_datadriven"
		"AbilityBehavior"			"DOTA_ABILITY_BEHAVIOR_UNIT_TARGET | DOTA_ABILITY_BEHAVIOR_IMMEDIATE"
		"AbilityUnitTargetTeam"		"DOTA_UNIT_TARGET_TEAM_ENEMY"
		"AbilityUnitTargetType"		"DOTA_UNIT_TARGET_HERO | DOTA_UNIT_TARGET_BASIC"
		"AbilityUnitDamageType"		"DAMAGE_TYPE_MAGICAL"

		// ================================ Stats ================================
		"AbilityCastRange"			"900"
		"AbilityCastPoint"			"0.4"
		"AbilityCooldown"			"10"
		"AbilityManaCost"			"25"

		"AbilityTextureName"		"necrolyte_soulShudder"

		"MaxLevel"					"4"
		"RequiredLevel"				"1"
		"LevelsBetweenUpgrades"		"1"

		"precache"
		{
			"particle"				"particles/econ/items/slardar/sl_slardar_trident/sl_slardar_trident.vpcf"
		}

		// ================================ Effect ================================
		"OnSpellStart"
		{
			"ApplyModifier"
			{
				"ModifierName"			"modifier_soulShudder_buff"
				"Target"				"TARGET"
			}

			"RunScript"
			{
				"ScriptFile"		"scripts/vscripts/ability/hero.lua"
				"Function"			"ability_soulShudder"
				"Target"			"UNIT"
			}
		}

		"Modifiers"
		{
			"modifier_soulShudder_buff"
			{
				"IsDebuff"				"1"
				"Duration"				"%duration"

				"EffectName"			"particles/econ/items/slardar/sl_slardar_trident/sl_slardar_trident.vpcf"
				"EffectAttachType"		"follow_origin"
			}

			"modifier_soulShudder_stack"
			{
				"IsDebuff"				"1"
				"IsHidden"				"1"
				"Duration"				"%duration"
				"Attributes"			"MODIFIER_ATTRIBUTE_MULTIPLE"

				"Properties"
				{
					"MODIFIER_PROPERTY_MOVESPEED_BONUS_PERCENTAGE"			"%desSpeedStep"
				}
			}
		}

		// =============================== Ability ===============================
		"AbilitySpecial"
		{
			"01"
			{
				"var_type"		"FIELD_INTEGER"
				"minDesSpeed"	"-5 -10 -15 -20"
			}
			"02"
			{
				"var_type"		"FIELD_INTEGER"
				"maxDesSpeed"	"-20 -40 -60 -80"
			}
			"03"
			{
				"var_type"		"FIELD_INTEGER"
				"desSpeedStep"	"-5"
			}
			"04"
			{
				"var_type"		"FIELD_FLOAT"
				"duration"		"5.5 6.5 7.5 8.5"
			}
		}
	}





























	// 样例
	"myability"
	{
		"BaseClass"			"ability_datadriven"
		"AbilityBehavior"	"DOTA_ABILITY_BEHAVIOR_PASSIVE"
		"AbilityTextureName"			"brewmaster_fire_permanent_immolation"

		"Modifiers"
		{
			"modifier_myability"
			{
				"Passive"		"1"
				"Properties"
				{
					"MODIFIER_PROPERTY_DAMAGEOUTGOING_PERCENTAGE"	"%attack"
				}

				"OnAttack"
				{
					"ApplyModifier"
					{
						"Target"		"CASTER"
						"ModifierName"	"modifier_myability_buff"
					}

					"ApplyModifier"
					{
						"Target"		"CASTER"
						"ModifierName"	"modifier_myability_buff_2"
					}
				}
			}

			"modifier_myability_buff"
			{
				"Duration"		"%duration"
				"IsHidden"		"1"
				"Attributes"	"MODIFIER_ATTRIBUTE_MULTIPLE"

				"Properties"
				{
					"MODIFIER_PROPERTY_PHYSICAL_ARMOR_BONUS"	"%armor"
				}
			}

			"modifier_myability_buff_2"
			{
				"Duration"		"%duration"
				//"Attributes"	"MODIFIER_ATTRIBUTE_MULTIPLE"
			}
		}

		"AbilitySpecial"
		{
			"01"
			{
				"var_type"	"FIELD_INTEGER"
				"duration"	"5"
			}
			"02"
			{
				"var_type"	"FIELD_INTEGER"
				"armor"	"5 6 7 8"
			}
			"03"
			{
				"var_type"	"FIELD_INTEGER"
				"attack"	"50 50 60 60"
			}
		}
	}
}
</pre>
</div>
</body>
</html>