<!doctype html>
<html ng-app="app">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<!-- jQuery -->
	<script src="public/assets/jquery/jquery-1.11.3.min.js"></script>
	<script src="public/assets/jquery/jquery.form.js"></script>
	<script src="public/assets/jquery/jquery-ui.min.js"></script>

	<!-- Moment -->
	<script src="public/assets/moment/moment.min.js"></script>

	<!-- Angular -->
	<script src="public/assets/angular/angular.min.js"></script>
	<script src="public/assets/angular/angular-resource.min.js"></script>
	<script src="public/assets/angular/angular-route.min.js"></script>
	<script src="public/assets/angular/sortable.js"></script>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="public/assets/bootstrap/css/bootstrap.min.css">
	<script src="public/assets/bootstrap/js/bootstrap.min.js"></script>

	<!-- Bootstrap Components -->
	<link rel="stylesheet" href="public/assets/bootstrap-components/css/bootstrap-components.min.css">
	<script src="public/assets/bootstrap-components/js/bootstrap-components.min.js"></script>

	<!-- Bootstrap Color Picker -->
	<link rel="stylesheet" href="public/assets/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
	<script src="public/assets/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>

	<!-- Font Awesome Icons -->
	<link href="public/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

	<!-- Main -->
	<link rel="stylesheet" href="public/css/main.css">

	<script src="public/js/components/groupSelect.js"></script>
	<script src="public/js/components/operation.js"></script>
	<script src="public/js/components/attrField.js"></script>
	<script src="public/js/components/operationField.js"></script>

	<script src="public/js/common.js"></script>
	<script src="public/js/app.js"></script>
	<script src="public/js/models/app.ability.js"></script>
	<script src="public/js/models/app.event.js"></script>
	<script src="public/js/models/app.operation.js"></script>
	<script src="public/js/models/app.modifier.js"></script>
	<script src="public/js/models/app.kv.js"></script>
	<script src="public/js/models/app.language.js"></script>

	<script src="public/js/hammer.js"></script>
	<script src="public/js/languageCtrl.js"></script>
</head>
<body ng-controller="main">

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
			        aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/">Dota2 Editor</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li ng-class="{active: navSelected('/index')}"><a href="#/index">Home</a></li>
				<li ng-show="globalContent.isOpen" ng-class="{active: navSelected('/ability')}"><a href="#/ability">Ability 【技能】</a></li>
				<li ng-show="globalContent.isOpen" ng-class="{active: navSelected('/item')}"><a href="#/item">Item 【物品】</a></li>
				<li ng-show="globalContent.isOpen" ng-class="{active: navSelected('/language')}"><a href="#/language">Language 【语言】</a></li>
			</ul>
			<ul class="nav navbar-nav pull-right">
				<li ng-show="globalContent.isOpen">
					<button type="button" class="btn btn-warning navbar-btn" ng-click="showSaveMDL()">Save 【保存】</button>
				</li>
			</ul>
		</div>
		<!--/.nav-collapse -->
	</div>
</nav>
<div id="content" class="container-fluid">
	<div ng-show="!globalContent.isOpen">
		<h1>Project Folder 【项目路径】</h1>
		<input type="text" class="form-control" ng-model="globalContent.project"
		       placeholder="项目路径，例如：C:\Steam\steamapps\common\dota 2 beta\game\dota_addons\sampleGame" />
		<br/>
		<button class="btn btn-primary" ng-click="loadProject()">Open【载入】</button>
	</div>
	<div ng-show="globalContent.isOpen" ng-view></div>
</div>

	<!-- Modal -->
	<div class="modal fade" id="saveMDL" tabindex="-1" data-backdrop="static">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Select Save File 【选择要保存的文件】</h4>
				</div>
				<div class="modal-body">
					<div class="checkbox" ng-repeat="saveItem in saveFileList">
						<label ng-class="{'text-muted': saveItem.ready === false}">
							<input type="checkbox" ng-disabled="saveItem.ready === false"
								   ng-checked="saveItem.selected" ng-click="saveItem.selected = !saveItem.selected" />
							{{::saveItem.name}} 【{{::saveItem.desc}}】
							<span ng-if="saveItem.ready === false">（开发中）</span>
							<span class="label label-info" ng-if="saveItem.status === 1">saving 【保存中】</span>
							<span class="label label-success" ng-if="saveItem.status === 2">success 【成功】</span>
							<span class="label label-danger" ng-if="saveItem.status === 3">failed 【失败】</span>
							<span class="label label-success" ng-if="saveItem.status === 4">success (Not change) 【成功，未变更】</span>
						</label>
					</div>
				</div>
				<div class="modal-footer">
					<p class="pull-left">{{saveMSG}}</p>

					<button type="button" class="btn btn-default" data-dismiss="modal" ng-disabled="saveLock">Close</button>
					<button type="button" class="btn btn-primary" ng-click="saveFiles()" ng-disabled="saveLock">Save</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>