/* Common */
a {
	cursor: pointer;
}

hr {
	margin: 5px 0;
	border-color: #CCC;
}

.ability-form {
	position: relative;
}

.ability-form pre {
	margin: 0;
	border: none;
	padding: 5px;
	background: transparent;
	color: #999;
}

.ability-form input,
.ability-form select,
.ability-form textarea {
	border: none;
	border-bottom: 1px solid #CCC;
	display: block;
	width: 100%;
	padding: 2px 5px;
	outline: none;
	resize: none;
	border-radius: 0;
}

.ability-form input:focus,
.ability-form select:focus,
.ability-form textarea:focus {
	box-shadow: none;
}

.ability-form .checkbox {
	margin: 3px 0 3px 5px;
}

.ability-form .checkbox > span {
	vertical-align: super;
}

.ability-form .d-checkbox {
	padding-left: 5px;
	line-height: 100%;
	display: inline-block;
}
.ability-form .d-checkbox > div {
	border: 2px solid #999;
	display: inline-block;
	background: #FFF;
	width: 24px;
	height: 24px;
	margin-top: 2px;
	position: relative;
	border-radius: 4px;
	-webkit-user-select:none;
}
.ability-form .d-checkbox > div > .fa {
	font-size: 19px;
	position: absolute;
	left: 2px;
	top: 1px;
}
.ability-form .d-checkbox > div > .fa.fa-check {
	left: 0.5px;
}
.ability-form .d-checkbox > div > .fa.fa-square {
	color: rgba(0,0,0,0.1);
}

.ability-form .ability-tip {
	position: absolute;
	right: 5px;
	margin: 3px 0;
	background: rgba(0,0,0, 0.8);
	color: #FFF;
	padding: 3px 8px;
	border-radius: 3px;
	display: none;
	pointer-events: none;
	z-index: 1;
}

.ability-form:hover .ability-tip {
	display: block;
}

.ability-form .img-preview {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}

.ability-form .img-preview .img-preview-cntr {
	position: fixed;
	display: none;
	left: 10px;
	top:60px;
	z-index: 5;
	background: #FFF;
	border: 2px solid #CCC;
	padding: 15px;
	text-align: center;
	box-shadow: 2px 2px 5px rgba(90,90,90,0.5);
}
.ability-form .img-preview:hover .img-preview-cntr {
	display: block;
}

.ability-form .img-preview .img-preview-cntr h2 {
	margin: 0 0 10px 0;
	font-size: 20px;
}

.ability-form .img-preview .img-preview-cntr p {
	margin: 0 0 10px 0;
}

.ability-table {
	width: 100%;
	border: 3px solid #C5C5C5;
	margin-bottom: 5px;
}
.ability-table > tbody > tr {
	border: 1px solid #C5C5C5;
}
.ability-table > tbody:not(:last-child) > tr:not(.hidden):last-child {
	border-bottom-width: 3px;
}


.ability-table > thead > tr > th,
.ability-table > tbody > tr > th {
	padding: 3px 5px 0 5px;
	color: #5B5B5B;
	background: #E2E2E2;
	position: relative;
	vertical-align: top;
}
.ability-table > thead > tr > td,
.ability-table > tbody > tr > td {
	background: #fafafa;
	border-left: 1px solid #E2E2E2;
}
.ability-table > thead > tr > th,
.ability-table > thead > tr > td,
.ability-table > tbody > tr > th,
.ability-table > tbody > tr > td {
	line-height: 150%;
	height: 30px;
	position: relative;
}

.ability-table > tbody > tr > td input,
.ability-table > tbody > tr > td textarea,
.ability-table > tbody > tr > td select {
	border: none;
	padding: 0 5px;
	box-shadow: none;
	background: #fafafa;
	line-height: 100%;
	height: 28px;
}

.ability-table > tbody > tr > td input[type="checkbox"] {
	height: 22px;
	width: 22px;
	margin-left: 5px;
}

.ability-table > tbody > tr > td textarea {
	height: auto;
	padding: 5px;
}

.ability-table > tbody > tr > td > a.fa-link {
	position: absolute;
	right: 5px;
	top: 8px;
}

.ability-table > tbody > tr > td p {
	line-height: 100%;
	margin: 0;
	padding: 0 0 0 5px;
}

.ability-table .label {
	display: inline-block;
	margin: 1px 0 1px 5px;
	font-size: 14px;
}

.ability-table [groupselect] .glyphicon-pencil {
	margin-left: 5px;
}

.ability-table .ability-tip {
	position: absolute;
	top: 1px;
	right: 2px;
	background: rgba(0,0,0, 0.8);
	color: #FFF;
	padding: 3px 8px;
	border-radius: 3px;
	display: none;
	pointer-events:none;
	z-index: 1;
	white-space:nowrap;
}
.ability-table tr:hover > th > .ability-tip,
.ability-table tr:hover > td > .ability-tip {
	display: block;
}

.ability-table .ability-table {
	margin: 0;
}

.ability-operation-list > a {
	margin-left: 10px;
}

.ability-operation-list .ability-operation .ability-operation-header .fa {
	margin: 5px 0px 0 5px;
	font-size: 20px;
}

.ability-operation-list .ability-operation .ability-operation-header .ability-operation-selector {
	width: auto;
	min-width: 200px;
	margin: 5px 0 0 0;
	display: inline-block;
	position: relative;
}

.ability-operation-list .ability-operation .ability-operation-header .ability-operation-selector .form-control {
	background: #eee;
	font-weight: bolder;
}

.ability-operation .ability-operation-body {
	padding-left: 32px;
	margin: 0;
}

.ability-operation .ability-operation-body li {
	display: table;
	width: 100%;
}

.ability-operation .ability-operation-body li > a {
	display: table-cell;
	width: 10px;
	vertical-align: top;
}

.ability-operation .ability-operation-body li > a,
.ability-operation .ability-operation-body li > span {
	display: table-cell;
	width: 10px;
	vertical-align: top;
	word-break: keep-all;
	white-space: nowrap;
}
.ability-operation .ability-operation-body li > a.fa {
	padding: 5px 0 0 5px;
}

.ability-operation .ability-operation-body li > .ability-form {
	display: block;
}

.ability-operation .ability-operation-body .ability-form {
	display: inline-block;
}

.ability-operation .ability-operation-body .ability-form input,
.ability-operation .ability-operation-body .ability-form select,
.ability-operation .ability-operation-body .ability-form textarea {
	background: transparent;
	/*border-bottom: 1px solid #AAA;*/
	display: inline-block;
	height: auto;
	padding: 0 0 2px 5px;
	text-decoration: underline;
}

.ability-operation .ability-operation-body .ability-form .ability-form-blob {
	padding: 0 5px;
}

.ability-operation .ability-operation-body .ability-form textarea {
	border: 1px solid #EEE;
	border-left: 2px solid #3c8dbc;
	text-decoration: none;
}

.ability-operation .ability-operation-body .ability-form ::-webkit-input-placeholder {
	padding-top: 3px;
}

.ability-operation .ability-operation-body .ability-form .ability-form-operationList {
	border-left: 2px solid #CCC;
	margin-left: 5px;
}

.ability-operation .ability-operation-body .ability-form .ability-form-unitGroup {
	padding: 0 0 0 5px;
}

.ability-operation .ability-operation-body .ability-form .d-checkbox > div {
	border-width: 1px;
	width: 16px;
	height: 16px;
	border-radius: 2px;
}
.ability-operation .ability-operation-body .ability-form .d-checkbox > div > .fa {
	font-size: 12px;
	left: 2px;
	top: 1px;
}
.ability-operation .ability-operation-body .ability-form .d-checkbox > div > .fa.fa-check {
	left: 1px;
}

.ability-modifer-prop-list ul {
	margin: 0;
	padding: 0 0 0 5px;
}

.ability-modifer-prop-list ul li {
	display: table;
	width: 100%;
}

.ability-modifer-prop-list ul li > a {
	display: table-cell;
	vertical-align: top;
	width: 10px;
	word-break: keep-all;
	white-space: nowrap;
	padding-top: 3px;
}
.ability-modifer-prop-list ul li > .ability-modifer-item-select {
	display: table-cell;
	vertical-align: top;
	width: 100%;
	margin-bottom: 1px;
}

.ability-modifer-prop-list ul li > .ability-modifer-item-select .ability-modifer-item-select-inline {
	position: relative;
}

.ability-modifer-prop-list ul li > .ability-modifer-item-select select,
.ability-modifer-prop-list ul li > .ability-modifer-item-select input {
	width: 100%;
	height: 28px;
	outline: none;
}
.ability-modifer-prop-list ul li > .ability-modifer-item-select input {
	background: rgba(0,0,0,0.05);
}
.ability-modifer-prop-list ul li > .ability-modifer-item-value {
	display: table-cell;
	position: relative;
}
.ability-modifer-prop-list ul li > .ability-modifer-item-value input {
	background: transparent;
	height: auto!important;
	width: 150px;
	padding: 4px 0 5px 5px!important;
	text-decoration: underline;
	outline: none;
}
.ability-modifer-prop-list ul li > .ability-modifer-item-value input:focus {
	box-shadow: none;
}

.ability-modifer-prop-list ul li > select {
	display: table-cell;
	outline: none;
}

.ability-modifer-prop-list > a {
	margin-left: 10px;
}

/* Header */
.ability-cntr-header {
	font-family: "Microsoft YaHei","Microsoft JhengHei", "STHeiti", "MingLiu";
	margin-bottom: 10px;
}

.ability-cntr-header .ability-cntr-header-img {
	width: 140px;
	overflow: hidden;
	float: left;
}

.ability-cntr-header .ability-img {
	height: 100px;
	min-width: 100px;
	width: auto;
}

.ability-cntr-header .ability-cntr-header-img {
	position: relative;
}

.ability-cntr-header .ability-cntr-header-img .ability-img-picker {
	color: #FFFFFF;
	background: rgba(0,0,0,0.8);
	padding: 2px 5px;
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	white-space: nowrap;
	z-index: 1;
	text-decoration: none;
	font-size: 14px;
}
.ability-cntr-header .ability-cntr-header-img:hover .ability-img-picker {
	display: block;
	opacity: 0.7;
}
.ability-cntr-header .ability-cntr-header-img:hover .ability-img-picker:hover {
	opacity: 1;
}

.ability-cntr-header .nav li a {
	padding: 5px 7px;
	font-size: 20px;
}

.ability-cntr-header .nav li .nav-tip {
	background: rgba(0,0,0, 0.8);
	color: #FFF;
	padding: 3px 8px;
	border-radius: 3px;
	display: none;
	position: absolute;
	z-index: 1;
	right: 35px;
	top: 0;
	pointer-events:none;
	text-align: center;
	white-space: nowrap;
}
.ability-cntr-header .nav li:hover .nav-tip {
	display: block;
}

.ability-cntr-header .ability-cntr-header-desc {
	margin-left: 145px;
}

.ability-cntr-header.noIcon .ability-cntr-header-desc {
	margin-left: 0;
}

.ability-cntr-header .ability-cntr-header-desc .ability-cntr-header-name {
	margin-right: 150px;
}

.ability-cntr-header .ability-cntr-header-desc .ability-cntr-header-name h1 {
	margin: 0;
	font-size: 30px;
}
.ability-cntr-header .ability-cntr-header-desc .ability-cntr-header-name h1 small {
	color: #999;
	position: relative;
}
.ability-cntr-header .ability-cntr-header-desc .ability-cntr-header-name h1 small a {
	color: #FFFFFF;
	background: rgba(0,0,0,0.8);
	padding: 2px 5px;
	display: none;
	position: absolute;
	left: 0;
	top: -14px;
	white-space: nowrap;
	z-index: 1;
	text-decoration: none;
	font-size: 14px;
}
.ability-cntr-header .ability-cntr-header-desc .ability-cntr-header-name h1:hover small a {
	display: block;
	opacity: 0.3;
}
.ability-cntr-header .ability-cntr-header-desc .ability-cntr-header-name h1:hover small a:hover {
	opacity: 1;
}

.ability-cntr-header .ability-cntr-header-desc input {
	font-size: 20px;
}
.ability-cntr-header .ability-cntr-header-desc textarea {
	height: 65px;
	border: none;
}

.ability-cntr-header.noIcon .ability-cntr-header-desc textarea {
	border-top: 1px solid #AAA;
	margin-top: 10px;
}

/* Body */
.ability-cntr-body {
	font-family: "Microsoft YaHei","Microsoft JhengHei",STHeiti,MingLiu;
	margin-bottom: 10px;
}

.ability-cntr-body .nav.nav-pills {
	margin-bottom: 5px;
}

.ability-cntr-body .nav.nav-pills li.disabled {
	opacity: 0.5;
}

.ability-cntr-body .nav.nav-pills li a {
	padding: 5px 8px;
	color: #666;
}

.ability-cntr-body .nav.nav-pills li.active a {
	background: #AAA;
	color: #FFF;
}

.ability-cntr-body .ability-modifer-list {
	border-top: 1px solid #EEE;
	padding-top: 5px;
}

.ability-cntr-body .ability-modifer-list.nav.nav-pills li .menu {
	position: absolute;
	background: rgba(0,0,0,0.6);
	display: none;
	z-index: 2;
}
.ability-cntr-body .ability-modifer-list.nav.nav-pills li:hover .menu {
	display: block;
}

.ability-cntr-body .ability-modifer-list.nav.nav-pills li .menu a {
	background: transparent;
	color: #FFF;
	display: block;
	padding: 3px 25px 3px 10px;
	white-space: nowrap;
}
.ability-cntr-body .ability-modifer-list.nav.nav-pills li .menu a:hover {
	text-decoration: none;
	background: rgba(255,255,255,0.1);
}

.ability-textureCntr {
	margin-top: 5px;
}

.ability-textureCntr .ability-texture {
	display: inline;
	float: left;
	margin: 0 3px 3px 0;
	overflow-x: hidden;
	background: #000;
	cursor: pointer;
	border: 3px solid #FFFFFF;
	box-sizing: content-box;
}
.ability-textureCntr .ability-texture:hover {
	border-color: #6666FF;
	background: #FFF;
	opacity: 0.8;
}

.ability-textureCntr .ability-texture img {
	height: 50px;
}

.ability-textureCntr.ability .ability-texture {
	width: 50px;
}
.ability-textureCntr.item .ability-texture {
	width: 68px;
}

.ability-textureCntr-preview {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1100;
	pointer-events: none;
}
.ability-textureCntr-preview.right {
	left: auto;
	right: 0;
}