/* Common */
a {
	cursor: pointer;
}

hr {
	margin: 5px 0;
	border-color: #CCC;
}

.ability-form {
	position: relative;
}

.ability-form input,
.ability-form select,
.ability-form textarea {
	border: none;
	border-bottom: 1px solid #CCC;
	display: block;
	width: 100%;
	padding: 2px 5px;
	outline: none;
	resize: none;
	border-radius: 0;
}

.ability-form input:focus,
.ability-form select:focus,
.ability-form textarea:focus {
	box-shadow: none;
}

.ability-form .ability-tip {
	position: absolute;
	right: 5px;
	margin: 3px 0;
	background: rgba(0,0,0, 0.8);
	color: #FFF;
	padding: 3px 8px 3px 12px;
	border-radius: 3px;
	display: none;
	pointer-events:none;
	z-index: 1;
}

.ability-form:hover .ability-tip {
	display: block;
}

.ability-table {
	width: 100%;
	border: 3px solid #C5C5C5;
	margin-bottom: 5px;
}
.ability-table > tbody > tr {
	border: 1px solid #C5C5C5;
}
.ability-table > tbody:not(:last-child) > tr:last-child {
	border-bottom-width: 3px;
}


.ability-table > thead > tr > th,
.ability-table > tbody > tr > th {
	padding: 3px 5px 0 5px;
	color: #5B5B5B;
	background: #E2E2E2;
	position: relative;
	vertical-align: top;
}
.ability-table > thead > tr > td,
.ability-table > tbody > tr > td {
	background: #fafafa;
	border-left: 1px solid #E2E2E2;
}
.ability-table > thead > tr > th,
.ability-table > thead > tr > td,
.ability-table > tbody > tr > th,
.ability-table > tbody > tr > td {
	line-height: 150%;
	height: 30px;
}

.ability-table > tbody > tr > td input,
.ability-table > tbody > tr > td textarea,
.ability-table > tbody > tr > td select {
	border: none;
	padding: 0 5px;
	box-shadow: none;
	background: #fafafa;
	line-height: 100%;
	height: 28px;
}

.ability-table > tbody > tr > td input[type="checkbox"] {
	height: 22px;
	width: 22px;
	margin-left: 5px;
}

.ability-table > tbody > tr > td textarea {
	height: auto;
	padding: 5px;
}

.ability-table > tbody > tr > td p {
	line-height: 100%;
	margin: 0;
	padding: 0 0 0 5px;
}

.ability-table .label {
	display: inline-block;
	margin: 1px 0 1px 5px;
	font-size: 14px;
}

.ability-table [groupselect] .glyphicon-pencil {
	margin-left: 5px;
}

.ability-table .ability-tip {
	position: absolute;
	top: 1px;
	right: 2px;
	background: rgba(0,0,0, 0.8);
	color: #FFF;
	padding: 3px 8px;
	border-radius: 3px;
	display: none;
	pointer-events:none;
	z-index: 1;
	white-space:nowrap;
}
.ability-table tr:hover > th > .ability-tip,
.ability-table tr:hover > td > .ability-tip {
	display: block;
}

.ability-table .ability-table {
	margin: 0;
}

.ability-operation-list > a {
	margin-left: 10px;
}

.ability-operation-list .ability-operation .ability-operation-header .fa {
	float: left;
	margin: 5px 8px 0 8px;
	font-size: 20px;
}

.ability-operation-list .ability-operation .ability-operation-header select.form-control {
	width: 450px;
	background: #eee;
	margin: 5px 0 0 0;
	font-weight: bolder;
}

.ability-operation .ability-operation-body {
	padding-left: 32px;
	margin: 0;
}

.ability-operation .ability-operation-body li {
	display: table;
	width: 100%;
}

.ability-operation .ability-operation-body li > a {
	display: table-cell;
	width: 10px;
	vertical-align: top;
}

.ability-operation .ability-operation-body li > span {
	display: table-cell;
	width: 10px;
	vertical-align: top;
	word-break: keep-all;
	white-space: nowrap;
}

.ability-operation .ability-operation-body li > .ability-form {
	display: block;
}

.ability-operation .ability-operation-body .ability-form {
	display: inline-block;
}

.ability-operation .ability-operation-body .ability-form input,
.ability-operation .ability-operation-body .ability-form select,
.ability-operation .ability-operation-body .ability-form textarea {
	background: transparent;
	/*border-bottom: 1px solid #AAA;*/
	display: inline-block;
	height: auto;
	padding: 0 0 2px 5px;
	text-decoration: underline;
}

.ability-operation .ability-operation-body .ability-form .ability-form-blob {
	padding: 0 5px;
}

.ability-operation .ability-operation-body .ability-form textarea {
	border: 1px solid #EEE;
	border-left: 2px solid #3c8dbc;
	text-decoration: none;
}

.ability-operation .ability-operation-body .ability-form ::-webkit-input-placeholder {
	padding-top: 3px;
}

.ability-operation .ability-operation-body .ability-form .ability-form-operationList {
	border-left: 2px solid #CCC;
	margin-left: 5px;
}

.ability-operation .ability-operation-body .ability-form .ability-form-unitGroup {
	padding: 0 0 0 5px;
}

.ability-modifer-list ul {
	margin: 0;
	padding: 0 0 0 5px;
}

.ability-modifer-list ul li {
	display: table;
	width: 100%;
}

.ability-modifer-list ul li > a {
	display: table-cell;
	vertical-align: top;
	width: 10px;
	word-break: keep-all;
	white-space: nowrap;
}
.ability-modifer-list ul li > .ability-modifer-item-select {
	display: table-cell;
	vertical-align: top;
}

.ability-modifer-list ul li > .ability-modifer-item-select select {
	width: 100%;
	height: auto;
	outline: none;

}
.ability-modifer-list ul li > input {
	background: transparent;
	height: auto!important;
	width: 150px;
	padding: 1px 0 2px 5px!important;
	text-decoration: underline;
	display: table-cell;
	outline: none;
}
.ability-modifer-list ul li > input:focus {
	box-shadow: none;
}

.ability-modifer-list ul li > select {
	display: table-cell;
	outline: none;
}

.ability-modifer-list > a {
	margin-left: 10px;
}

/* Header */
.ability-cntr-header {
	font-family: "Microsoft YaHei",Î¢ÈíÑÅºÚ,"Microsoft JhengHei",»ªÎÄÏ¸ºÚ,STHeiti,MingLiu;
	margin-bottom: 10px;
}

.ability-cntr-header .ability-cntr-header-img {
	width: 140px;
	overflow: hidden;
	float: left;
}

.ability-cntr-header .ability-img {
	height: 100px;
	min-width: 100px;
	width: auto;
}

.ability-cntr-header .nav li a {
	padding: 5px 7px;
	font-size: 20px;
}

.ability-cntr-header .nav li .nav-tip {
	background: rgba(0,0,0, 0.8);
	color: #FFF;
	padding: 3px 8px 3px 12px;
	border-radius: 3px;
	display: none;
	position: absolute;
	z-index: 1;
	width: 150px;
	right: 35px;
	top: 0;
	pointer-events:none;
	text-align: center;
}
.ability-cntr-header .nav li:hover .nav-tip {
	display: block;
}

.ability-cntr-header .ability-cntr-header-desc {
	margin-left: 145px;
}

.ability-cntr-header .ability-cntr-header-desc .ability-cntr-header-name {
	margin-right: 110px;
}

.ability-cntr-header .ability-cntr-header-desc input {
	font-size: 20px;
}
.ability-cntr-header .ability-cntr-header-desc textarea {
	height: 65px;
	border: none;
}

/* Body */
.ability-cntr-body {
	font-family: "Microsoft YaHei",Î¢ÈíÑÅºÚ,"Microsoft JhengHei",»ªÎÄÏ¸ºÚ,STHeiti,MingLiu;
	margin-bottom: 10px;
}

.ability-cntr-body .nav.nav-pills {
	margin-bottom: 5px;
}

.ability-cntr-body .nav.nav-pills li a {
	padding: 5px 8px 5px 10px;
	color: #666;
}

.ability-cntr-body .nav.nav-pills li.active a {
	background: #AAA;
	color: #FFF;
}