#content {
	padding-top: 60px;
}

.listCntr {
    font-size: 12px;
}

.listCntr .listItem {
    border: 1px solid #999999;
    border-top: none;
}

.listCntr .listItem:first-child {
    border-top: 1px solid #999999;
}

.listCntr .listItem.active {
    background: #eb9316;
    color: #FFFFFF;
}

.listCntr .listItem p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.table.table-tiny td {
	padding: 0;
}

.table.table-tiny td > input[type='checkbox'] {
    margin: 5px 0 0 10px;
}

.table.table-tiny .form-control {
	border-radius: 0;
	padding: 3px 8px;
	line-height: 100%;
	height: 30px;
}

.table.table-tiny [groupselect] .radio,
.table.table-tiny [groupselect] .checkbox {
	margin: 0 0 0 10px;
}

.table.table-tiny .checkbox,
.table.table-tiny .radio {
	margin: 3px 0;
}

.table.table-tiny .table {
    margin: 0;
}

.table.table-tiny td {
    vertical-align: middle;
}

.table.table-tiny .group-event,
.table.table-tiny .group-modifier {
	padding: 5px 10px;
	border-bottom: 1px solid #999;
	margin-bottom: 5px;
}

.table.table-tiny .group-operation,
.table.table-tiny .group-operationAttr {
	margin: 5px 0 0 15px;
}

.table.table-tiny .group-operation .form-control {
	font-size: 12px;
	padding: 0px 3px;
	height: 26px;
}

.table.table-tiny textarea.form-control {
	height: auto;
}