/* Scroll Bar */
::-webkit-scrollbar {
	height: 5px;
	width: 5px;
	background: #DDD;
}

::-webkit-scrollbar-thumb {
	background: rgba(0,0,0,0.3);
}

textarea:hover::-webkit-scrollbar-thumb,
div:hover::-webkit-scrollbar-thumb {
	background: rgba(0,0,0,0.5);
}

::-webkit-scrollbar-corner {
}

/* No Select */
.noSelect {
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

/* icon */
.fa.sm {
	font-size: 80%;
}

/* Text */
.u {
	text-decoration: underline;
}

/* Main */
#content {
	padding-top: 60px;
}

.ability-img {
	height: 20px;
}

#newItem {
	position: fixed;
	bottom: 5px;
	left: 5px;
}

/* Color picker */
.color-picker {
	position: absolute;
	padding: 0;
	line-height: 100%;
	width: 20px;
	height: 20px;
	opacity: 0.3;
	right: 4px;
	top: 4px;
}
.color-picker:hover {
	opacity: 1;
}

#colorPickerMDL #colorPickerRegion {
	margin-bottom: 10px;
}

#colorPickerMDL #colorPickerRegion input {
	display: inline-block;
	width: 100px;
}

#colorPickerMDL #colorPickerRegion .btn {
	padding: 0;
	height: 30px;
	width: 30px;
	margin-right: 5px;
}

#colorPickerMDL #colorDisplayLayout {
	border: 1px solid #BBB;
	padding: 10px;
	box-shadow: inset 1px 1px 5px rgba(255,255,255,0.2);
	min-height: 200px;
	color: #FFF;
	background: #222;
}

/* List container */
#listCntr {
	background: #FFFFFF;
	position: fixed;
	top: 55px;
	bottom: 45px;
	left: 5px;
	border: 1px solid #999;

	overflow-y: scroll;
	overflow-x: hidden;
}

.listCntr .listItem {
	padding: 5px;
	border-bottom: 1px solid #AAA;
	cursor: default;
}
.listCntr .listItem:hover {
	background: #F4F4F4;
}

.listCntr .listItem.active {
	background: #BBB;
}

.listCntr .listItem p {
	line-height: 110%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 0;
}

.listCntr .listItem .title {
	margin-bottom: 5px;
}

.listCntr .listItem .desc {
	font-size: 10px;
	color: #999;
}

.listCntr .listItem.active .title,
.listCntr .listItem.active .desc {
	color: #FFF;
}

.table.table-tiny td {
	padding: 0;
}

.table.table-tiny td > input[type='checkbox'] {
	margin: 5px 0 0 10px;
}

.table.table-tiny .form-control {
	border-radius: 0;
	padding: 3px 8px;
	line-height: 100%;
	height: 30px;
	resize:none;
}
.table.table-tiny textarea.form-control {
	height: auto;
}

.table.table-tiny .label {
	margin-right: 5px;
}

label.checkbox {
	display: inline-block;
}

label.checkbox input[type="checkbox"] {
	margin: 0 5px 0 0;
	position: relative;
}

.table.table-tiny {
	font-size: 12px;
}

.table.table-tiny .checkbox,
.table.table-tiny .radio {
	margin: 3px 0;
}

.table.table-tiny .table {
	margin: 0;
}

.table.table-tiny td {
	vertical-align: middle;
}

.tab-content .tab-pane {
	position: relative;
}

/* Menu */
.app-menu {
	list-style: none;
	border: 1px solid #999;
	margin: 0;
	padding: 0!important;
	display: inline-block;
	min-width: 100px;
	background: #FFF;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	z-index: 5;
	position: absolute;
	left: 0;
	top: 25px;
}

.app-menu.app-float-menu {
	position: fixed;
	z-index: 99;
}

.app-menu > li {
	border-bottom: 1px solid #CCC;
	position: relative;
}
.app-menu > li:last-child {
	border-bottom: none;
}
.app-menu > li.line {
	height: 2px;
	background: #CCC;
}
.app-menu > li > a {
	padding: 5px 10px;
	display: block;
	color: #666;
	white-space: nowrap;
	cursor: default;
}
.app-menu > li.selected > a {
	background: #EEEEEE;
}
.app-menu > li:hover > a {
	background: #7cb5ec;
	color: #FFF;
	text-decoration: none;
}
.app-menu > li:hover > a:active {
	background: #6e9cc9;
}
.app-menu > li > a.danger {
	color: #dd4b39;
}
.app-menu > li > a.primary {
	color: #337ab7;
}
.app-menu > li:hover > a.danger {
	background: #dd4b39;
	color: #FFF;
}
.app-menu > li.app-submenu > a {
	padding-right: 20px;
}

.app-menu > li.app-submenu > a:after {
	display: block;
	float: right;
	margin-right: -15px;
	margin-top: 2px;
	font-size: 12px;
	font-family: 'Glyphicons Halflings';
	content: "\e080";
	color: #999;
}
.app-menu > li.app-submenu:hover > a:after {
	color: #FFF;
}

.app-menu > li > .app-menu {
	display: none;
	position: absolute;
	left: 100%;
	top: -1px;

}
.app-menu > li:hover > .app-menu {
	display: block;
}

/* button */
.btn.btn-dark {
	background: #AAA;
	color: #FFF;
}

/* Simple Navigation bar */
.simple-nav-bar {
	-webkit-user-select:none;
}

.simple-nav-bar li {
	margin-bottom: 5px;
}

.simple-nav-bar li a {
	padding: 0px 6px;
	border-radius: 3px;
	min-width: 35px;
	display: inline-block;
	text-align: center;
}
.simple-nav-bar li a:hover {
	background: rgba(0,0,0,0.1);
	text-decoration: none;
}
.simple-nav-bar li.disabled a {
	color: #FFFFFF;
	background: rgba(0,0,0,0.3);
}

/* Top box */
.top-box {
	width: 100%;
	position: fixed;
	top: 50px;
	left: 0;
	background: #FFFFFF;
	padding: 10px 15px;
	border-bottom: 1px solid #999;
	box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}

.top-box .app-menu {
	top: 33px;
	left: 15px;
}

/* KV Tree */
.kv-tree .kv-tree-menu:hover {
	background: rgba(0,0,0,0.05);
}

.kv-tree .kv-tree-link {
	white-space: nowrap;
}

.kv-tree .kv-tree-kv {
	width: 100%;
}

.kv-tree .kv-tree-list {
	padding-left: 15px;
}

/* Tree View */
.tree-view .tree-head {
	font-size: 16px;
	padding: 0 0 0 5px;
	display: block;
}
.tree-view .tree-head.tree-folder:hover {
	background: rgba(0,0,0,0.1);
	text-decoration: none;
}

.tree-view .tree-list {
	position: relative;
	margin-top: -22px;
	margin-left: 0;
	padding-left: 5px;
	min-height: 22px;
	border-left: 3px solid #CCC;
	pointer-events: none;
}

.tree-view .tree-list.open {
	margin-top: 0;
	margin-left: 10px;
	min-height: 15px;
	pointer-events: auto;
}

	/**************** Version Check ****************/
#versionCheck {
	background: rgba(0,0,0,0.8);
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1050;
	color: #FFF;
	text-align: center;
}

#versionCheck h1 {
	margin-top: 150px;
}