/* Scroll Bar */
::-webkit-scrollbar {
	height: 5px;
	width: 5px;
	background: #DDD;
}

::-webkit-scrollbar-thumb {
	background: rgba(0,0,0,0.3);
}

textarea:hover::-webkit-scrollbar-thumb,
div:hover::-webkit-scrollbar-thumb {
	background: rgba(0,0,0,0.5);
}

::-webkit-scrollbar-corner {
}

/* No Select */
.noSelect {
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

/* icon */
.fa.sm {
	font-size: 80%;
}

/* Main */
#content {
	padding-top: 60px;
}

.ability-img {
	height: 20px;
}

/*.listCntr {
	font-size: 12px;
}

.listCntr .listItem {
	border: 1px solid #999999;
	border-top: none;
}

.listCntr .listItem:first-child {
	border-top: 1px solid #999999;
}

.listCntr .listItem.active {
	background: #eb9316;
	color: #FFFFFF;
}

.listCntr .listItem p {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}*/
#listCntr {
	background: #FFFFFF;
	position: fixed;
	top: 55px;
	bottom: 5px;
	left: 5px;
	border: 1px solid #999;

	overflow-y: scroll;
	overflow-x: hidden;
}

.listCntr .listItem {
	padding: 5px;
	border-bottom: 1px solid #AAA;
	cursor: default;
}
.listCntr .listItem:last-child {
	border-bottom: none;
}
.listCntr .listItem:hover {
	background: #F4F4F4;
}

.listCntr .listItem.active {
	background: #BBB;
}

.listCntr .listItem p {
	line-height: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 0;
}

.listCntr .listItem .title {
	margin-bottom: 5px;
}

.listCntr .listItem .desc {
	font-size: 10px;
	color: #999;
}

.listCntr .listItem.active .title,
.listCntr .listItem.active .desc {
	color: #FFF;
}

.table.table-tiny td {
	padding: 0;
}

.table.table-tiny td > input[type='checkbox'] {
	margin: 5px 0 0 10px;
}

.table.table-tiny .form-control {
	border-radius: 0;
	padding: 3px 8px;
	line-height: 100%;
	height: 30px;
	resize:none;
}

.table.table-tiny .label {
	margin-right: 5px;
}

label.checkbox {
	display: inline-block;
}

label.checkbox input[type="checkbox"] {
	margin: 0 5px 0 0;
	position: relative;
}

.table.table-tiny {
	font-size: 12px;
}

.table.table-tiny [groupselect] .radio,
.table.table-tiny [groupselect] .checkbox {
	margin: 0 0 0 10px;
}

.table.table-tiny .checkbox,
.table.table-tiny .radio {
	margin: 3px 0;
}

.table.table-tiny .table {
	margin: 0;
}

.table.table-tiny td {
	vertical-align: middle;
}

.table.table-tiny .group-event,
.table.table-tiny .group-modifier {
	padding: 5px 10px;
	border-bottom: 1px solid #999;
	margin-bottom: 5px;
}

.table.table-tiny .group-operation,
.table.table-tiny .group-operationAttr {
	margin: 5px 0 0 15px;
}

.table.table-tiny .form-control {
	font-size: 12px;
	padding: 0px 3px;
	height: 28px;
	box-shadow: none;
}

.table.table-tiny .group-operation textarea.form-control,
.table.table-tiny textarea.form-control {
	height: auto;
}

.tab-content .tab-pane {
	position: relative;
}

.fastPin {
	position: fixed;
	z-index: 10;
	width: 20px;
	height: 200px;
	background: rgba(0, 0, 0, 0.8);
	margin: 0 0 0 -20px;
}

.fastPin > .glyphicon {
	position: absolute;
	left: 3px;
	top: 3px;
	color: #FFFFFF;
}

.fastPin > .subPanel {
	display: none;
	position: absolute;
	left: 20px;
	top: 0;
	background: rgba(0, 0, 0, 0.8);
	padding: 10px 15px;
	border-radius: 0 5px 5px 0;
	color: #FFFFFF;
}

.fastPin:hover > .subPanel {
	display: block;
}

.fastPin > .subPanel .ability-img {
	height: auto;
	width: 100px;
	position: absolute;
	right: -105px;
	border: 3px solid rgba(0,0,0,0.8);
	top: 0px;
}

.fastPin > .subPanel h3 {
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;
	font-size: 20px;
	font-weight: bolder;
	border-bottom: 1px solid #FFFFFF;
}

.fastPin > .subPanel ul {
	margin: 0;
	padding: 0 0 0 20px;
	list-style: none;
	white-space: nowrap;
}

.fastPin > .subPanel > ul {
	padding: 0;
}

.fastPin > .subPanel ul li:before {
	content: "•";
	margin-right: 10px;
	color: #FFFFFF;
}

.fastPin > .subPanel ul li a.glyphicon {
	font-size: 10px;
}

.fastPin > .subPanel a {
	cursor: pointer;
	color: #FFFFFF;
}

/* Menu */
.app-menu {
	list-style: none;
	border: 1px solid #999;
	margin: 0;
	padding: 0;
	display: inline-block;
	min-width: 100px;
	background: #FFF;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.app-menu.app-float-menu {
	position: fixed;
	z-index: 99;
}

.app-menu > li {
	border-bottom: 1px solid #CCC;
	position: relative;
}
.app-menu > li:last-child {
	border-bottom: none;
}
.app-menu > li > a {
	padding: 5px 10px;
	display: block;
	color: #666;
	white-space: nowrap;
	cursor: default;
}
.app-menu > li:hover > a {
	background: #7cb5ec;
	color: #FFF;
	text-decoration: none;
}
.app-menu > li:hover > a:active {
	background: #6e9cc9;
}
.app-menu > li.app-submenu > a {
	padding-right: 20px;
}

.app-menu > li.app-submenu > a:after {
	display: block;
	float: right;
	margin-right: -15px;
	margin-top: 2px;
	font-size: 12px;
	font-family: 'Glyphicons Halflings';
	content: "\e080";
	color: #999;
}
.app-menu > li.app-submenu:hover > a:after {
	color: #FFF;
}

.app-menu > li > .app-menu {
	display: none;
	position: absolute;
	left: 100%;
	top: -1px;

}
.app-menu > li:hover > .app-menu {
	display: block;
}